In [127]:
import pandas as pd
import re
import numpy as np
jobs = ['Data scientist', 'Python', 'JS', 'Java','Data scientist', 'Python', 'JS', 'Java']
countrys = ['France','France','France','France', 'USA','USA','USA','USA']
filenames = ['data/'+str.lower(job).replace(' ','')+str.lower(country)+'.csv' for job, country in zip(jobs,countrys) ]
df = pd.concat([pd.read_csv(filename, sep=';', encoding="utf-8-sig", index_col=0) for filename in filenames])
df = df.drop_duplicates(subset=None, keep="first")
skills = ['Python', 'R', 'SQL', 'NoSQL', 'GIT', 'Spark', 'Flask', 'Streamlit', 'Docker', 'Kubernetes', 'React', 'Machine-Learning', 'Deep Learning', 'NLP', 'Vue', 'Angular', 'Scala', 'PySpark','PowerBI', 'SQLServer', 'Dataiku','Data', 'Keras', 'Tensor-Flow', 'NLU', 'PyTorch', 'Scikit-Learn', 'SAAS', 'Java', 'Scikit learn', 'Hadoop', 'Hive', 'ML','DL', 'Azure', 'AWS']

# contrats = ['CDI','CDD','Apprentissage','Contrat pro','Stage','Intérim','Freelance','Indépendant','Freelance']
            
studylevel_keywords = {'High School':['High School','Baccalauréat'],
                       'Guaduate': ['Université','Universitaire','Formation supérieure','Guaduate','Bac +2','Bac +3','Bachelor'],
                       'Master': ['Master','Master 2', 'Master +2', 'Bac +5', 'Grande école d\'ingénieur','Bac +4/5','M2','Cursus ingénieur', 'engineer','Diplôme ingénieur'],
                       'Doctor': ['Doctorat', 'Doctor'], 
                       'Formation': ['Formation Data Science']
                       }

explevel_keywords = {'Beginer':['Débutant', 'Beginer','No experience','Pas d`\'expérience', '1 an', '0-1 an','0 - 1 an', '0/1 an','0 / 1 an'],
                       'Intermediate': ['Intermédiaire','Intermediate','2 year', '3 year','2-3 year',  '2 ans', '2/3 an', '1-2 an','1-3  years'],
                       'Confirmed': ['Confirmé','Confirmed','3 an','4 an','5 an','3 year','4 year','5 year','3-5 year','3-5 an','3/5 year', '3/5 an'],
                       'Expert': ['Expert','6 year','7 year', '8 year', '9 year','6 an','7 an', '8 an','9 an','10 an','5-10 year','5-10 an','5 - 10 an','5/10 year', '5/10 an'],
                       'Senior': ['Senior', '10+ years', '10+ an', '10 ans +','plus de 10 an']
                       }
def exist_in_array(x, dicto):

    for key in dicto:
        if any(str.lower(term) in str.lower(x) for term in dicto[key]):
            return key

def skill_required(row):

    desc_low = str.lower(row['Description'])
    
    for skill in skills:

        skill_low = str.lower(skill)

        if (skill_low in desc_low) or (skill_low.replace(' ','') in desc_low) or (skill_low.replace('-','') in desc_low)  or (skill_low.replace('-',' ') in desc_low):
            row[skill] = 1

    return row

def searchBy(x,pattern):
    match = re.search(pattern,str.lower(x))
    if match:
        return match.group(0)

df['Study required'] = df['Description'].apply(lambda x: exist_in_array(x, studylevel_keywords))
df['Experience required'] = df['Description'].apply(lambda x: exist_in_array(x, explevel_keywords))

df = pd.concat([df, pd.DataFrame(columns=skills)])
df = df.apply(lambda row: skill_required(row), axis=1)

In [96]:
df

,Entreprise,Pays,Ville,Type de contrat,Salaire,Description,Study required,Experience required,Python,R,...,Scikit-Learn,SAAS,Java,Scikit learn,Hadoop,Hive,ML,DL,Azure,AWS
Alternance - Data Scientist H/F,Malakoff Humanis,France,Paris 9e (75),"Apprentissage, Contrat pro",None,Contrat ALTERNANCE Finalité du poste Au sein d...,None,None,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Data Scientist H/F,AGYLIS,France,La Défense (92),"Temps plein, CDI",40 000 € - 50 000 € par an,AGYLIS est un acteur important des Entreprise ...,Master,Beginer,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.0
DATA SCIENTIST- F/H,Ingeniance,France,La Défense (92),CDI,None,"Contexte: Vous assurez la production, la conce...",Master,Expert,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Data Scientist and Innovation Engineer H/F,HIPAY,France,Levallois-Perret (92),None,None,Notre métier HiPay est une Fintech Européenne ...,Master,None,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ASSISTANT DATA SCIENTIST,Total,France,Nanterre (92),"Apprentissage, Contrat pro",None,Monter un système de reporting pour la directi...,Guaduate,Confirmed,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Senior Developer,VirtualMGA,USA,United States,None,None,Virtual MGA is searching for someone who can w...,Master,Senior,NaN,1.0,...,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,1.0
"Senior Backend Engineer, Remote Assistance",Cruise,USA,"San Francisco, CA 94103 (South of Market area)",None,None,"We're Cruise, the self-driving ride-hailing se...",Guaduate,Expert,NaN,1.0,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN,1.0
Principal Software Engineer/Architect,Microsoft,USA,"Redmond, WA",None,None,Are you interested in joining a startup within...,Master,Expert,NaN,1.0,...,NaN,1.0,1.0,NaN,1.0,NaN,NaN,1.0,1.0,1.0
Sr. Software Engineer,"Homecare Homebase, LLC",USA,"Louisville, KY",None,None,Position Summary A Senior Software Engineer wo...,Guaduate,Intermediate,NaN,1.0,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Senior Software Developer, Full-Stack",Life House Group,USA,"Montreal, WI",None,None,OUR COMPANY Life House Group is a vertically-i...,None,None,1.0,1.0,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN

In [163]:
salaryMatch = re.compile(r'(?:((([\$€]\s?\d{1,3}([\.,\s]?\d{3})*[\s]?k?([\.,\s]\d{2})?([\s]?((à)|(au)|(et)|(\/)|(->?)|(to)|(and))?[\s]?[\$€]?[\s]?\d{1,3}([\.,\s]?\d{3})*\s?k?([\.,\s]?\d{2})?)?)|((\d{1,3}([\.,\s]?\d{3})*\s?k?([\.,\s]\d{2})?\s?[\$€]?([\s]?((à)|(au)|(et)|(and)|(\/)|(->?)|(to))?[\s]?\d{1,3}([\.,\s]?\d{3})*\s?k?([\.,\s]\d{2})?)?)[€\$])[\s]?)(\s*(brut)?\s*((par)|(a)|(an)|(per)|(by)|(\/)|(every)|(un)|(une))[\s]*((annually)|(heure)|(jour)|(hebdomadaire)|(mois)|(mensuel)|(hour)|(day)|(month)|(year)|(an)))))')

In [76]:
# desc = df.iloc[18]['Description']
# desc

(?:((([\$€]\s?\d{1,3}([\.,\s]?\d{3})*[\s]?k?([\.,\s]\d{2})?([\s]?((à)|(au)|(et)|(\/)|(->?)|(to)|(and))?[\s]?[\$€]?[\s]?\d{1,3}([\.,\s]?\d{3})*\s?k?([\.,\s]?\d{2})?)?)|((\d{1,3}([\.,\s]?\d{3})*\s?k?([\.,\s]\d{2})?\s?[\$€]?([\s]?((à)|(au)|(et)|(and)|(\/)|(->?)|(to))?[\s]?\d{1,3}([\.,\s]?\d{3})*\s?k?([\.,\s]\d{2})?)?)[€\$])[\s]?)(\s*(brut)?\s*((par)|(a)|(an)|(per)|(by)|(\/)|(every)|(un)|(une))[\s]*((annually)|(heure)|(jour)|(hebdomadaire)|(mois)|(mensuel)|(hour)|(day)|(month)|(year)|(an)))))

In [164]:
df['SalaryExtract'] = df['Description'].apply(lambda x: searchBy(x ,salaryMatch))

In [259]:
# df['SalaryExtract'].unique()

def replace_empty_salary(row):

    if (row['Salaire'] == 'None') and (row['SalaryExtract'] is not None): 
        row['Salaire'] = row['SalaryExtract']
    return row

In [260]:
df = df.apply(lambda row: replace_empty_salary(row), axis=1)

In [268]:
df.drop('SalaryExtract',axis=1, inplace=True)

In [270]:
df.Salaire.value_counts()

None                          2733
40 000 € - 50 000 € par an      23
55 000 € par an                 16
50 000 € par an                 16
45 000 € par an                 12
                              ...
$6,000 - $9,500 a month          1
14 769 € par an                  1
$88 an hour                      1
30 000 € - 38 000 € par an       1
37 000 € - 45 000 € par an       1
Name: Salaire, Length: 263, dtype: int64

In [285]:
df.Salaire.str.contains('hour').count()

3198

In [297]:
df2 = df[df['Salaire']!= 'None']
df2.drop('Type de contrat', axis=1, inplace=True)

In [298]:
df2.shape

(466, 43)

In [302]:
df2.Salaire.value_counts()

40 000 € - 50 000 € par an       23
50 000 € par an                  16
55 000 € par an                  16
45 000 € par an                  12
35 000 € - 45 000 € par an       11
                                 ..
$67,968 - $126,062 a year         1
600 € par jour                    1
50 000,00€ à 55 000,00€ /mois     1
37 000 € - 50 000 € par an        1
30 000 € - 55 000 € par an        1
Name: Salaire, Length: 262, dtype: int64