In [43]:
import pandas as pd
import re
import numpy as np

In [44]:
jobs = ['Data scientist', 'Python', 'JS', 'Java','Data scientist', 'Python', 'JS', 'Java']
countrys = ['France','France','France','France', 'USA','USA','USA','USA']
filenames = ['data/'+str.lower(job).replace(' ','')+str.lower(country)+'.csv' for job, country in zip(jobs,countrys) ]

df = pd.concat([pd.read_csv(filename, sep=';', encoding="utf-8-sig", index_col=0) for filename in filenames])

In [45]:
skills = ['Python', 'R', 'SQL', 'NoSQL', 'GIT', 'Spark', 'Flask', 'Streamlit', 'Docker', 'Kubernetes', 'React', 'Machine-Learning', 'Deep Learning', 'NLP', 'Vue', 'Angular', 'Scala', 'PySpark','PowerBI', 'SQLServer', 'Dataiku','Data', 'Keras', 'Tensor-Flow', 'NLU', 'PyTorch', 'Scikit-Learn', 'SAAS', 'Java', 'Scikit learn', 'Hadoop', 'Hive', 'ML','DL', 'Azure', 'AWS']

# contrats = ['CDI','CDD','Apprentissage','Contrat pro','Stage','Intérim','Freelance','Indépendant','Freelance']
            
studylevel_keywords = {'High School':['High School','Baccalauréat'],
                       'Guaduate': ['Université','Universitaire','Formation supérieure','Guaduate','Bac +2','Bac +3','Bachelor'],
                       'Master': ['Master','Master 2', 'Master +2', 'Bac +5', 'Grande école d\'ingénieur','Bac +4/5','M2','Cursus ingénieur', 'engineer','Diplôme ingénieur'],
                       'Doctor': ['Doctorat', 'Doctor'], 
                       'Formation': ['Formation Data Science']
                       }

explevel_keywords = {'Beginer':['Débutant', 'Beginer','No experience','Pas d`\'expérience', '1 an', '0-1 an','0 - 1 an', '0/1 an','0 / 1 an'],
                       'Intermediate': ['Intermédiaire','Intermediate','2 year', '3 year','2-3 year',  '2 ans', '2/3 an', '1-2 an','1-3  years'],
                       'Confirmed': ['Confirmé','Confirmed','3 an','4 an','5 an','3 year','4 year','5 year','3-5 year','3-5 an','3/5 year', '3/5 an'],
                       'Expert': ['Expert','6 year','7 year', '8 year', '9 year','6 an','7 an', '8 an','9 an','10 an','5-10 year','5-10 an','5 - 10 an','5/10 year', '5/10 an'],
                       'Senior': ['Senior', '10+ years', '10+ an', '10 ans +','plus de 10 an']
                       }

In [46]:
def exist_in_array(x, dicto):

    for key in dicto:
        if any(str.lower(term) in str.lower(x) for term in dicto[key]):
            return key

def skill_required(row):

    desc_low = str.lower(row['Description'])
    
    for skill in skills:

        skill_low = str.lower(skill)

        if (skill_low in desc_low) or (skill_low.replace(' ','') in desc_low) or (skill_low.replace('-','') in desc_low)  or (skill_low.replace('-',' ') in desc_low):
            row[skill] = 1

    return row

def searchBy(x,pattern):
    match = re.search(pattern,str.lower(x))
    if match:
        return match.group(0)

def replace_empty_salary(row):

    if (row['Salaire'] == 'None') and (row['SalaryExtract'] is not None): 
        row['Salaire'] = row['SalaryExtract']
    return row

In [47]:
df['Study required'] = df['Description'].apply(lambda x: exist_in_array(x, studylevel_keywords))
df['Experience required'] = df['Description'].apply(lambda x: exist_in_array(x, explevel_keywords))

df = pd.concat([df, pd.DataFrame(columns=skills)])
df = df.apply(lambda row: skill_required(row), axis=1)

In [48]:
salaryMatch = re.compile(r'((([\$€]\s?\d{1,3}([\.,\s]?\d{3})*[\s]?k?([\.,\s]\d{2})?([\s]?((à)|(au)|(et)|(\/)|(->?)|(to)|(and))?[\s]?[\$€]?[\s]?\d{1,3}([\.,\s]?\d{3})*\s?k?([\.,\s]?\d{2})?)?)|((\d{1,3}([\.,\s]?\d{3})*\s?k?([\.,\s]\d{2})?\s?[\$€]?([\s]?((à)|(au)|(et)|(and)|(\/)|(->?)|(to))?[\s]?\d{1,3}([\.,\s]?\d{3})*\s?k?([\.,\s]\d{2})?)?)[€\$])[\s]?)(\s*(brut)?\s*((par)|(a)|(an)|(per)|(by)|(\/)|(every)|(un)|(une))[\s]*((annually)|(heure)|(jour)|(hebdomadaire)|(mois)|(mensuel)|(hour)|(day)|(month)|(year)|(an))))')

In [303]:
# (?:((([\$€]\s?\d{1,3}([\.,\s]?\d{3})*[\s]?k?([\.,\s]\d{2})?([\s]?((à)|(au)|(et)|(\/)|(->?)|(to)|(and))?[\s]?[\$€]?[\s]?\d{1,3}([\.,\s]?\d{3})*\s?k?([\.,\s]?\d{2})?)?)|((\d{1,3}([\.,\s]?\d{3})*\s?k?([\.,\s]\d{2})?\s?[\$€]?([\s]?((à)|(au)|(et)|(and)|(\/)|(->?)|(to))?[\s]?\d{1,3}([\.,\s]?\d{3})*\s?k?([\.,\s]\d{2})?)?)[€\$])[\s]?)(\s*(brut)?\s*((par)|(a)|(an)|(per)|(by)|(\/)|(every)|(un)|(une))[\s]*((annually)|(heure)|(jour)|(hebdomadaire)|(mois)|(mensuel)|(hour)|(day)|(month)|(year)|(an)))))

In [49]:
df['SalaryExtract'] = df['Description'].apply(lambda x: searchBy(x ,salaryMatch))

In [50]:
df = df.apply(lambda row: replace_empty_salary(row), axis=1)

In [51]:
df.drop('SalaryExtract',axis=1, inplace=True)

In [52]:
df.Salaire.value_counts()

None                          4785
40 000 € - 50 000 € par an      58
50 000 € par an                 43
55 000 € par an                 43
45 000 € par an                 39
                              ...
$95,000 - $115,000 a year        1
$80 - $90 an hour                1
800 € - 1 200 € par mois         1
700 € par mois                   1
40 000 € - 48 000 € par an       1
Name: Salaire, Length: 263, dtype: int64

In [54]:
df2 = df[df['Salaire']!= 'None']
df2.drop('Type de contrat', axis=1, inplace=True)

In [55]:
df2.shape

(1121, 43)

In [56]:
df2.Salaire.value_counts()

40 000 € - 50 000 € par an       58
50 000 € par an                  43
55 000 € par an                  43
45 000 € par an                  39
35 000 € - 50 000 € par an       34
40 937 € - 43 418 € par an       33
38 000,00€ à 45 000,00€ /mois    29
48 000 € - 52 000 € par an       27
40 000 € par an                  26
50 000 € - 80 000 € par an       25
35 000 € - 45 000 € par an       18
50 000 € - 65 000 € par an       16
2 470 € - 3 100 € par mois       16
38 000 € - 45 000 € par an       16
40 000 € - 55 000 € par an       16
45 000 € - 55 000 € par an       14
33 000 € - 38 000 € par an       13
28 000 € - 35 000 € par an       12
65 000 € par an                  12
35 000,00€ à 45 000,00€ /mois    11
34 000,00€ à 50 000,00€ /mois    11
40 000 € - 45 000 € par an       10
34 000 € - 44 000 € par an       10
35 000 € - 40 000 € par an       10
33 000 € - 40 000 € par an       10
48 000 € par an                   9
45 000 € - 60 000 € par an        9
40 000 € - 60 000 € par an        9
43 000 € par an                   9
$65 an hour                       8
65 000 € - 75 000 € par an        8
50 000 € - 60 000 € par an        8
500 € par jour                    8
1 500 € - 2 000 € par mois        8
38 000 € par an                   8
23 000 € - 35 000 € par an        7
10-30€ a month                    7
42 000 € par an                   7
28 000 € - 40 000 € par an        7
70 000 € par an                   7
31 000 € - 38 000 € par an        7
$70 an hour                       7
41 000 € par an                   7
25 000 € - 30 000 € par an        6
25 000 € - 35 000 € par an        6
50 000 € - 55 000 € par an        6
52 000 € par an                   6
38 000 € - 50 000 € par an        6
46 000 € par an                   6
36 000 € - 46 000 € par an        5
35 000 € - 55 000 € par an        5
36 000 € - 45 000 € par an        5
45 000 € - 65 000 € par an        5
55 000 € - 65 000 € par an        5
60 000 € - 70 000 € par an        5
$20 an hour                       5
33 000,00€ à 40 000,00€ /mois     5
$65,000 - $100,000 a year         5
30 000 € - 45 000 € par an        5
$90,000 - $120,000 a year         5
$60 an hour                       5
44 000 € par an                   4
3 000 € par mois                  4
$4,000 a week                     4
$110,000 a year                   4
550 € par jour                    4
33 000 € - 55 000 € par an        4
2 139 € par mois                  4
48 000 € - 60 000 € par an        4
25 000 € - 40 000 € par an        4
35 € - 50 € par heure             3
$50 - $55 an hour                 3
$85 an hour                       3
$45,100 - $75,100 a year          3
350 € par jour                    3
$65,000 - $110,000 a year         3
$100,000 - $110,000 a year        3
55 000 € - 60 000 € par an        3
70 000 € - 90 000 € par an        3
1 939 € - 3 041 € par mois        3
28 000,00€ à 40 000,00€ /mois     3
39 176 € - 56 339 € par an        3
806 € par semaine                 3
30 000 € - 40 000 € par an        3
800 € par mois                    3
$90,000 - $140,000 a year         3
32 000 € - 40 000 € par an        3
$85,000 - $120,000 a year         3
45 000 € - 50 000 € par an        3
420 € par jour                    3
3 000 € - 3 400 € par mois        3
45 000 € - 70 000 € par an        3
40 € - 55 € par heure             3
1 500 € par mois                  3
2 800 € - 4 000 € par mois        3
36,00€ à 50,00€ /an               3
30 000 € - 60 000 € par an        3
40 000 € - 65 000 € par an        3
$110,000 - $130,000 a year        2
$115,000 - $130,000 a year        2
2 000 € - 4 500 € par mois        2
39 000 € - 48 000 € par an        2
45 000 € - 75 000 € par an        2
$85,000 a year                    2
55 000 € - 80 000 € par an        2
37 000 € - 44 000 € par an        2
60 000 € par an                   2
$60,000 - $110,000 a year         2
500 € - 600 € par jour            2
450 € par jour                    2
25 000 € - 50 000 € par an        2
30 000 € - 35 000 € par an        2
$25 - $40 an hour                 2
$70,000 - $120,000 a year         2
600 € - 900 € par mois            2
400 € - 450 € par jour            2
1 000 € par mois                  2
$100/month                        2
65 000 € - 85 000 € par an        2
35 000,00€ /mois                  2
1 700 € - 2 500 € par mois        2
650 € - 700 € par jour            2
40 000 € - 53 000 € par an        2
500 € - 1 200 € par mois          2
42 000 € - 45 000 € par an        2
400 € par jour                    2
36 000 € - 50 000 € par an        2
40 000 € - 44 000 € par an        2
75 000 € - 100 000 € par an       2
$78,000 a year                    2
380 € par semaine                 2
30 000 € - 38 000 € par an        2
2 500 € par mois                  2
600 € par jour                    2
3 585 € par mois                  2
$80,000 - $105,000 a year         2
2 436 € - 2 821 € par mois        2
$52,000 - $59,000 a year          2
390 € par jour                    2
$80,000 - $100,000 a year         2
45 000,00€ à 60 000,00€ /mois     2
28 000 € par an                   2
$70,000 - $100,000 a year         2
$500 a year                       2
37 000 € - 42 000 € par an        2
$81,931 a year                    2
$111,384 a year                   1
1 800 € - 2 500 € par mois        1
$100,000 - $115,000 a year        1
2 000 € - 2 800 € par mois        1
$96,000 a year                    1
$94,299 - $122,592 a year         1
$80,000 - $150,000 a year         1
500,00€ /an                       1
50 000 € - 75 000 € par an        1
3 500 € - 3 750 € par mois        1
50 000 € - 70 000 € par an        1
$90 an hour                       1
28 000 € - 33 000 € par an        1
40 000 € - 48 000 € par an        1
380 € par jour                    1
$78,000 - $96,000 a year          1
33 000 € par an                   1
900 € par mois                    1
25 000 € - 45 000 € par an        1
900 € - 1 100 € par mois          1
$54 an hour                       1
1 500 € par semaine               1
$80 - $90 an hour                 1
$120,000 - $155,000 a year        1
550 € - 950 € par mois            1
40 000 € - 70 000 € par an        1
2 100 € - 2 400 € par mois        1
$58 - $60 an hour                 1
32 745 € - 57 807 € par an        1
48 000 € - 65 000 € par an        1
$29.57 an hour                    1
350 € - 400 € par jour            1
$62,000 - $70,000 a year          1
$95,000 - $170,000 a year         1
32 000 € - 37 000 € par an        1
700 € par mois                    1
$130,000 a year                   1
30 000 € - 32 000 € par an        1
2 900 € - 3 100 € par mois        1
$45 - $65 an hour                 1
60 000 € - 75 000 € par an        1
44 000 € - 48 000 € par an        1
$65,000 - $85,000 a year          1
800 € - 1 200 € par mois          1
$65,000 - $90,000 a year          1
37 000 € - 50 000 € par an        1
$121,316 - $157,709 a year        1
30 € par heure                    1
$75,000 - $135,000 a year         1
58 000 € - 70 000 € par an        1
$83,692 - $111,469 a year         1
$150,000 - $225,000 a year        1
$55 an hour                       1
$500/month                        1
3 029 € - 3 703 € par mois        1
$110,000 - $145,000 a year        1
28 000 € - 32 000 € par an        1
$6,000 - $9,500 a month           1
12 000 € - 20 000 € par an        1
42 000 € - 50 000 € par an        1
42 000 € - 48 000 € par an        1
$101,000 a year                   1
0,00€ /mois                       1
Up to $61 an hour                 1
38 000 € - 42 000 € par an        1
500 € - 550 € par jour            1
$46,087 a year                    1
47 000 € par an                   1
45 € - 55 € par heure             1
$100,000 - $140,000 a year        1
$70,720 - $83,200 a year          1
1 320 € par mois                  1
$1,000 a month                    1
$67,968 - $126,062 a year         1
$53,917 - $120,874 a year         1
$100,000 - $150,000 a year        1
30 000 € - 50 000 € par an        1
43 000 € - 48 000 € par an        1
2 595 € - 3 171 € par mois        1
$60,000 - $62,500 a year          1
$95,000 - $115,000 a year         1
$8,000 - $12,000 a month          1
37 000 € - 45 000 € par an        1
$150,000 - $200,000 a year        1
$53,460 - $61,800 a year          1
$50 an hour                       1
2 950 € - 3 300 € par mois        1
14 769 € par an                   1
800€ et 1500€ / mois              1
19 077 € - 49 543 € par an        1
$108,784 a year                   1
30 000 € - 55 000 € par an        1
36 000 € - 42 000 € par an        1
555 € - 1 200 € par mois          1
4 000 € par mois                  1
320 € par jour                    1
$120,000 - $125,000 a year        1
60 000 € - 100 000 € par an       1
2 076 € - 2 184 € par mois        1
$162,000 a year                   1
$120,000 - $150,000 a year        1
$90,000 - $175,000 a year         1
$119,000 - $155,000 a year        1
34 000 € - 40 000 € par an        1
$100,000 - $145,000 a year        1
$62,234 a year                    1
$88 an hour                       1
42 000 € - 65 000 € par an        1
600 € par mois                    1
10 000 € - 20 000 € par an        1
40 000 € - 42 000 € par an        1
3 800 € - 4 200 € par mois        1
50 000,00€ à 55 000,00€ /mois     1
60 000 € - 80 000 € par an        1
70 000 € - 80 000 € par an        1
$53,622 - $81,619 a year          1
Name: Salaire, dtype: int64

In [57]:
df2 = df2.drop_duplicates()

In [58]:
df2['Classe de salaire'] = np.nan

In [59]:
pd.set_option('display.max_rows',262)
df2.Salaire.value_counts()

40 000 € - 50 000 € par an       22
55 000 € par an                  16
50 000 € par an                  15
35 000 € - 45 000 € par an       11
45 000 € par an                  11
40 000 € par an                   9
45 000 € - 55 000 € par an        8
40 000 € - 60 000 € par an        8
40 000 € - 45 000 € par an        7
40 000 € - 55 000 € par an        6
45 000 € - 60 000 € par an        5
42 000 € par an                   5
500 € par jour                    5
60 000 € - 70 000 € par an        4
50 000 € - 55 000 € par an        4
$70 an hour                       4
35 000 € - 50 000 € par an        4
50 000 € - 60 000 € par an        4
38 000 € - 45 000 € par an        4
$65 an hour                       4
70 000 € par an                   4
30 000 € - 45 000 € par an        3
48 000 € par an                   3
38 000 € par an                   3
550 € par jour                    3
55 000 € - 65 000 € par an        3
35 000 € - 40 000 € par an        3
$60 an hour                       3
28 000 € - 40 000 € par an        3
30 000 € - 40 000 € par an        3
55 000 € - 60 000 € par an        3
52 000 € par an                   3
43 000 € par an                   3
65 000 € par an                   3
35 000 € - 55 000 € par an        3
70 000 € - 90 000 € par an        2
33 000,00€ à 40 000,00€ /mois     2
350 € par jour                    2
38 000 € - 50 000 € par an        2
$80,000 - $100,000 a year         2
45 000 € - 50 000 € par an        2
600 € - 900 € par mois            2
36 000 € - 45 000 € par an        2
50 000 € - 65 000 € par an        2
$100,000 - $110,000 a year        2
30 000 € - 35 000 € par an        2
25 000 € - 35 000 € par an        2
3 000 € - 3 400 € par mois        2
10-30€ a month                    2
32 000 € - 40 000 € par an        2
1 500 € par mois                  2
65 000 € - 75 000 € par an        2
450 € par jour                    2
$65,000 - $100,000 a year         2
$90,000 - $120,000 a year         2
$100/month                        2
40 000 € - 53 000 € par an        2
34 000 € - 44 000 € par an        2
45 000 € - 70 000 € par an        2
42 000 € - 45 000 € par an        2
45 000 € - 65 000 € par an        2
60 000 € par an                   2
33 000 € - 40 000 € par an        2
28 000 € - 35 000 € par an        2
$110,000 a year                   2
25 000 € - 50 000 € par an        1
555 € - 1 200 € par mois          1
3 800 € - 4 200 € par mois        1
$120,000 - $150,000 a year        1
23 000 € - 35 000 € par an        1
$90,000 - $175,000 a year         1
400 € - 450 € par jour            1
40 000 € - 42 000 € par an        1
34 000 € - 40 000 € par an        1
$120,000 - $125,000 a year        1
$50 an hour                       1
380 € par semaine                 1
320 € par jour                    1
4 000 € par mois                  1
$85,000 - $120,000 a year         1
38 000,00€ à 45 000,00€ /mois     1
$88 an hour                       1
39 000 € - 48 000 € par an        1
36 000 € - 42 000 € par an        1
10 000 € - 20 000 € par an        1
2 950 € - 3 300 € par mois        1
$108,784 a year                   1
$162,000 a year                   1
$150,000 - $200,000 a year        1
$100,000 - $145,000 a year        1
42 000 € - 65 000 € par an        1
14 769 € par an                   1
41 000 € par an                   1
19 077 € - 49 543 € par an        1
800€ et 1500€ / mois              1
$121,316 - $157,709 a year        1
2 076 € - 2 184 € par mois        1
2 000 € - 2 800 € par mois        1
$62,000 - $70,000 a year          1
1 000 € par mois                  1
380 € par jour                    1
500 € - 600 € par jour            1
$130,000 a year                   1
25 000 € - 30 000 € par an        1
$95,000 - $170,000 a year         1
$29.57 an hour                    1
33 000 € par an                   1
3 000 € par mois                  1
40 000 € - 70 000 € par an        1
550 € - 950 € par mois            1
1 500 € par semaine               1
31 000 € - 38 000 € par an        1
50 000 € - 80 000 € par an        1
25 000 € - 45 000 € par an        1
900 € par mois                    1
$120,000 - $155,000 a year        1
$58 - $60 an hour                 1
32 745 € - 57 807 € par an        1
30 000 € - 32 000 € par an        1
$45 - $65 an hour                 1
2 800 € - 4 000 € par mois        1
1 500 € - 2 000 € par mois        1
40 000 € - 48 000 € par an        1
2 900 € - 3 100 € par mois        1
44 000 € - 48 000 € par an        1
37 000 € - 50 000 € par an        1
$65,000 - $85,000 a year          1
$111,384 a year                   1
$96,000 a year                    1
75 000 € - 100 000 € par an       1
2 500 € par mois                  1
500,00€ /an                       1
390 € par jour                    1
37 000 € - 42 000 € par an        1
44 000 € par an                   1
40 937 € - 43 418 € par an        1
$70,000 - $120,000 a year         1
$90 an hour                       1
3 500 € - 3 750 € par mois        1
50 000 € - 75 000 € par an        1
36 000 € - 46 000 € par an        1
$94,299 - $122,592 a year         1
35 000,00€ /mois                  1
48 000 € - 52 000 € par an        1
$20 an hour                       1
35 000,00€ à 45 000,00€ /mois     1
350 € - 400 € par jour            1
$65,000 - $90,000 a year          1
650 € - 700 € par jour            1
$90,000 - $140,000 a year         1
50 000,00€ à 55 000,00€ /mois     1
$53,622 - $81,619 a year          1
70 000 € - 80 000 € par an        1
400 € par jour                    1
600 € par mois                    1
65 000 € - 85 000 € par an        1
46 000 € par an                   1
$110,000 - $130,000 a year        1
60 000 € - 80 000 € par an        1
48 000 € - 60 000 € par an        1
$8,000 - $12,000 a month          1
800 € par mois                    1
$95,000 - $115,000 a year         1
39 176 € - 56 339 € par an        1
28 000,00€ à 40 000,00€ /mois     1
$110,000 - $145,000 a year        1
37 000 € - 44 000 € par an        1
58 000 € - 70 000 € par an        1
$100,000 - $140,000 a year        1
1 939 € - 3 041 € par mois        1
$70,720 - $83,200 a year          1
2 139 € par mois                  1
1 320 € par mois                  1
40 € - 55 € par heure             1
$60,000 - $62,500 a year          1
35 € - 50 € par heure             1
$62,234 a year                    1
33 000 € - 38 000 € par an        1
$119,000 - $155,000 a year        1
$53,460 - $61,800 a year          1
30 000 € - 55 000 € par an        1
60 000 € - 75 000 € par an        1
800 € - 1 200 € par mois          1
900 € - 1 100 € par mois          1
36 000 € - 50 000 € par an        1
$54 an hour                       1
$80 - $90 an hour                 1
2 100 € - 2 400 € par mois        1
25 000 € - 40 000 € par an        1
48 000 € - 65 000 € par an        1
32 000 € - 37 000 € par an        1
700 € par mois                    1
806 € par semaine                 1
$78,000 - $96,000 a year          1
28 000 € par an                   1
$115,000 - $130,000 a year        1
1 800 € - 2 500 € par mois        1
1 700 € - 2 500 € par mois        1
$100,000 - $115,000 a year        1
28 000 € - 33 000 € par an        1
$80,000 - $150,000 a year         1
50 000 € - 70 000 € par an        1
$52,000 - $59,000 a year          1
30 € par heure                    1
37 000 € - 45 000 € par an        1
60 000 € - 100 000 € par an       1
2 595 € - 3 171 € par mois        1
43 000 € - 48 000 € par an        1
30 000 € - 50 000 € par an        1
$6,000 - $9,500 a month           1
$83,692 - $111,469 a year         1
$150,000 - $225,000 a year        1
$55 an hour                       1
$500/month                        1
$50 - $55 an hour                 1
$81,931 a year                    1
3 029 € - 3 703 € par mois        1
$75,000 - $135,000 a year         1
34 000,00€ à 50 000,00€ /mois     1
45 000 € - 75 000 € par an        1
420 € par jour                    1
$85,000 a year                    1
$100,000 - $150,000 a year        1
55 000 € - 80 000 € par an        1
12 000 € - 20 000 € par an        1
42 000 € - 50 000 € par an        1
42 000 € - 48 000 € par an        1
$60,000 - $110,000 a year         1
$101,000 a year                   1
0,00€ /mois                       1
500 € - 1 200 € par mois          1
$25 - $40 an hour                 1
28 000 € - 32 000 € par an        1
2 470 € - 3 100 € par mois        1
2 436 € - 2 821 € par mois        1
$80,000 - $105,000 a year         1
3 585 € par mois                  1
$65,000 - $110,000 a year         1
2 000 € - 4 500 € par mois        1
30 000 € - 60 000 € par an        1
$53,917 - $120,874 a year         1
$67,968 - $126,062 a year         1
600 € par jour                    1
$1,000 a month                    1
36,00€ à 50,00€ /an               1
$4,000 a week                     1
45 000,00€ à 60 000,00€ /mois     1
40 000 € - 65 000 € par an        1
$500 a year                       1
$70,000 - $100,000 a year         1
$85 an hour                       1
$45,100 - $75,100 a year          1
45 € - 55 € par heure             1
47 000 € par an                   1
$46,087 a year                    1
500 € - 550 € par jour            1
40 000 € - 44 000 € par an        1
38 000 € - 42 000 € par an        1
$78,000 a year                    1
30 000 € - 38 000 € par an        1
Up to $61 an hour                 1
33 000 € - 55 000 € par an        1
Name: Salaire, dtype: int64

In [60]:
# def classification_salary(x):
salaire = df2.iloc[3].Salaire

In [61]:
salaire

'40 000 € - 50 000 € par an'

In [62]:
match = re.match('€',salaire)
if match:
    print(match.group(0))

In [31]:
print(re.search('(?:\d*\s?\d{3})\s€\s?par\s?an',salaire))

<re.Match object; span=(11, 26), match='50 000 € par an'>

In [36]:
match = re.findall(r'((([\$€]\s?\d{1,3}([\.,\s]?\d{3})*[\s]?k?([\.,\s]\d{2})?([\s]?((à)|(au)|(et)|(\/)|(->?)|(to)|(and))?[\s]?[\$€]?[\s]?\d{1,3}([\.,\s]?\d{3})*\s?k?([\.,\s]?\d{2})?)?)|((\d{1,3}([\.,\s]?\d{3})*\s?k?([\.,\s]\d{2})?\s?[\$€]?([\s]?((à)|(au)|(et)|(and)|(\/)|(->?)|(to))?[\s]?\d{1,3}([\.,\s]?\d{3})*\s?k?([\.,\s]\d{2})?)?)[€\$])[\s]?)(\s*(brut)?\s*((par)|(a)|(an)|(per)|(by)|(\/)|(every)|(un)|(une))[\s]*((annually)|(heure)|(jour)|(hebdomadaire)|(mois)|(mensuel)|(hour)|(day)|(month)|(year)|(an))))',salaire)
if match:
    print(match)

[('40 000 € - 50 000 € par an', '40 000 € - 50 000 € ', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '40 000 € - 50 000 €', '40 000 € - 50 000 ', ' 000', '', ' - 50 000 ', '-', '', '', '', '', '', '-', '', ' 000', '', 'par an', '', 'par', 'par', '', '', '', '', '', '', '', '', 'an', '', '', '', '', '', '', '', '', '', '', 'an')]

In [90]:
import re
m = re.match(r"(?:\d)(\d)(\d)", "632")
print(m.groups(0))

('3', '2')

In [69]:
matchGroup=re.compile(r'')

if re.search(r'(annually)|(year)|(((par)|(per)|(by)|(\/)|(every)|(un)|(une))[\s]?an)',salaire):
    # if re.search(r'€':)
    # else:
    
elif re.search(r'(month)|(mensuel)|(mois)',salaire):
    pass
elif re.search(r'(week)|(semaine)|(hebdomadaire)',salaire):
    pass
elif re.search(r'(day)|(jour)',salaire):
    pass
elif re.search(r'(hour)|(heur)',salaire):
    pass
else:
    pass

IndentationError: expected an indented block (<ipython-input-69-dc026fe3c339>, line 7)

In [ ]:
((([\$€]\s?\d{1,3}([\.,\s]?\d{3})*[\s]?k?([\.,\s]\d{2})?([\s]?((à)|(au)|(et)|(\/)|(->?)|(to)|(and))?[\s]?[\$€]?[\s]?\d{1,3}([\.,\s]?\d{3})*\s?k?([\.,\s]?\d{2})?)?)|((\d{1,3}([\.,\s]?\d{3})*\s?k?([\.,\s]\d{2})?\s?[\$€]?([\s]?((à)|(au)|(et)|(and)|(\/)|(->?)|(to))?[\s]?\d{1,3}([\.,\s]?\d{3})*\s?k?([\.,\s]\d{2})?)?)[€\$])[\s]?)(\s*(brut)?\s*((par)|(a)|(an)|(per)|(by)|(\/)|(every)|(un)|(une))[\s]*((annually)|(heure)|(jour)|(hebdomadaire)|(mois)|(mensuel)|(hour)|(day)|(month)|(year)|(an))))