In [3]:
import pandas as pd

In [4]:
data = pd.read_csv('Prepo.csv',sep=";")
data.columns.values

array(['Confirmed', 'Data Scientist', 'Doctor', 'Développeur Java',
       'Développeur JavaScript', 'Développeur Python', 'Entry', 'Expert',
       'France', 'Guaduate', 'High School', 'Intermediate', 'Master',
       'Senior', 'USA', 'Unnamed: 15', 'Python', 'R', 'Matlab',
       'Kubernetes', 'Bash', 'Fortran', 'Ruby', 'Golang', 'C', 'Java',
       'JEE', 'JSP', 'J2ME', 'BREW', 'MVC', 'SASS', 'XML', 'Eclipse',
       'Spring', 'Atlassian', 'Jenkin', 'FIX', 'Nexus', 'Maven',
       'Flutter', 'Bootstrap', 'Kafka', 'Data software', 'Data analysis',
       'Data preprocessing', 'Report', 'Math', 'Development',
       'Integration', 'ReactNative', 'Dataiku', 'Data viz', 'Data skills',
       'Data pipeline', 'Git', 'SQL', 'Djanbo', 'Database', 'Javascrpit',
       'POO', 'Regex', 'Mobile Programming', 'Team Work',
       'Machine Learning', 'Web langage', 'System unix', 'Scratch',
       'Scala', 'API', 'RestAPI', '.Net', 'Visual Studio', 'Responsive',
       'Javascript Skills', 'Outil bureautique', 'Deep Learning',
       'Text analytics', 'Marketing', 'Finance', 'Communication',
       'Statistics', 'Cloud', 'Big data', 'Computer science', 'Flask',
       'Streamlit', 'Docker', 'Saas', 'Back-end', 'Front-end', 'Design',
       'SAS', 'Business intelligence', 'Statistic', 'Redis',
       'Web Scrapping', 'Server', 'Blockchain', 'English', 'French',
       'Postman', 'Websphere', 'Conception', 'Documentation', 'Teach',
       'Debug', 'Test', 'Redux', 'JQuery', 'Maintenance', 'Microservices',
       'Classe de salaire par an'], dtype=object)

In [5]:
data

,Confirmed,Data Scientist,Doctor,Développeur Java,Développeur JavaScript,Développeur Python,Entry,Expert,France,Guaduate,...,Conception,Documentation,Teach,Debug,Test,Redux,JQuery,Maintenance,Microservices,Classe de salaire par an
0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0 - 40000
1,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,...,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,52500 - 1320000
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0 - 40000
3,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,52500 - 1320000
4,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0 - 40000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
909,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,52500 - 1320000
910,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,52500 - 1320000
911,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,52500 - 1320000
912,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,52500 - 1320000
913,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,52500 - 1320000

In [7]:
data.iloc[0]

Confirmed                           0
Data Scientist                      0
Doctor                              0
Développeur Java                    0
Développeur JavaScript              0
                              ...
Redux                               0
JQuery                              0
Maintenance                         1
Microservices                       0
Classe de salaire par an    0 - 40000
Name: 0, Length: 113, dtype: object

In [8]:
test = pd.DataFrame({'Métier':'Développeur Python', 'Pays': 'France', 'Study required': 'Guaduate', 'Experience required': 'Confirmed'}, index=[0])

In [24]:
test = {'Confirmed':0, 'Data Scientist':0, 'Doctor':0, 'Développeur Java':0,
                                 'Développeur JavaScript':0, 'Développeur Python':0, 'Entry':0, 'Expert':0,
                                 'France':0, 'Guaduate':0, 'High School':0, 'Intermediate':0, 'Master':0,
                                 'Senior':0, 'USA':0, 'Unnamed: 15':0, 'Python':0, 'R':0, 'Matlab':0,
                                 'Kubernetes':0, 'Bash':0, 'Fortran':0, 'Ruby':0, 'Golang':0, 'C':0, 'Java':0,
                                 'JEE':0, 'JSP':0, 'J2ME':0, 'BREW':0, 'MVC':0, 'SASS':0, 'XML':0, 'Eclipse':0,
                                 'Spring':0, 'Atlassian':0, 'Jenkin':0, 'FIX':0, 'Nexus':0, 'Maven':0,
                                 'Flutter':0, 'Bootstrap':0, 'Kafka':0, 'Data software':0, 'Data analysis':0,
                                 'Data preprocessing':0, 'Report':0, 'Math':0, 'Development':0,
                                 'Integration':0, 'ReactNative':0, 'Dataiku':0, 'Data viz':0, 'Data skills':0,
                                 'Data pipeline':0, 'Git':0, 'SQL':0, 'Djanbo':0, 'Database':0, 'Javascrpit':0,
                                 'POO':0, 'Regex':0, 'Mobile Programming':0, 'Team Work':0,
                                 'Machine Learning':0, 'Web langage':0, 'System unix':0, 'Scratch':0,
                                 'Scala':0, 'API':0, 'RestAPI':0, '.Net':0, 'Visual Studio':0, 'Responsive':0,
                                 'Javascript Skills':0, 'Outil bureautique':0, 'Deep Learning':0,
                                 'Text analytics':0, 'Marketing':0, 'Finance':0, 'Communication':0,
                                 'Statistics':0, 'Cloud':0, 'Big data':0, 'Computer science':0, 'Flask':0,
                                 'Streamlit':0, 'Docker':0, 'Saas':0, 'Back-end':0, 'Front-end':0, 'Design':0,
                                 'SAS':0, 'Business intelligence':0, 'Statistic':0, 'Redis':0,
                                 'Web Scrapping':0, 'Server':0, 'Blockchain':0, 'English':0, 'French':0,
                                 'Postman':0, 'Websphere':0, 'Conception':0, 'Documentation':0, 'Teach':0,
                                 'Debug':0, 'Test':0, 'Redux':0, 'JQuery':0, 'Maintenance':0, 'Microservices':0}

In [13]:
mm ='Python'
test[mm] = 1
test['Python']

1

In [28]:
int_features = [int(x) for x in list(test.values())]
final_features = [np.array(int_features)]
print(final_features)
print(len(int_features))

[array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0])]
112