In [2]:

import pandas as pd

In [103]:
jobs = ['Data scientist', 'Python', 'Javascript', 'Java',
        'Data scientist', 'Python', 'Javascript', 'Java']
countrys = ['France', 'France', 'France', 'France', 'USA', 'USA', 'USA', 'USA']


filenames = [str.lower(job).replace(' ', '') + str.lower(country) + '.csv' for job, country in zip(jobs, countrys)]
dfs = [pd.read_csv(filename, sep=';', encoding="utf-8-sig") for filename in filenames]

In [106]:
# Ajouter une colonne indique le métier
dfs[0]['Métier'] = 'Data Scientist'
dfs[1]['Métier'] = 'Développeur Python'
dfs[2]['Métier'] = 'Développeur JavaScript'
dfs[3]['Métier'] = 'Développeur Java'
dfs[4]['Métier'] = 'Data Scientist'
dfs[5]['Métier'] = 'Développeur Python'
dfs[6]['Métier'] = 'Développeur JavaScript'
dfs[7]['Métier'] = 'Développeur Java'

#Créer le dataframe à partir de la concaténations de ces fichiers
df = pd.concat(dfs)
df = df[df.Description.isna() == False]

In [107]:
df.head()

,Poste,Métier,Pays,Ville,Entreprise,Contrat,Salaire,Description
0,Alternance - Data Scientist H/F,Data Scientist,France,Paris 9e (75),Malakoff Humanis,"Apprentissage, Contrat pro",NaN,"Paris 9e (75) Apprentissage, Contrat pro Contr..."
1,Senior Data Scientist H/F (75),Data Scientist,France,Paris (75),Rexel,NaN,NaN,Paris (75) Senior Data Scientist H/F (75) Expe...
2,Alternant(e) Data Scientist H/F,Data Scientist,France,Boulogne-Billancourt (92),TF1,NaN,NaN,"Boulogne-Billancourt (92) Apprentissage, Contr..."
3,ALTERNANT DATA SCIENTIST H/F,Data Scientist,France,Issy-les-Moulineaux (92),BNP Paribas,"Apprentissage, Contrat pro",NaN,"Issy-les-Moulineaux (92) Apprentissage, Contra..."
4,Data Scientist H/F,Data Scientist,France,La Défense (92),AGYLIS,"Temps plein, CDI",40 000 € - 50 000 € par an,"La Défense (92) Temps plein, CDI 40 000 € - 50..."

In [13]:
df.shape

(7334, 8)

In [15]:
df['Salaire'].isna().sum()

6230

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7334 entries, 0 to 783
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Poste        7333 non-null   object
 1   Métier       7334 non-null   object
 2   Pays         7334 non-null   object
 3   Ville        7334 non-null   object
 4   Entreprise   7332 non-null   object
 5   Contrat      1018 non-null   object
 6   Salaire      1104 non-null   object
 7   Description  7334 non-null   object
dtypes: object(8)
memory usage: 515.7+ KB

In [31]:
df = df.drop_duplicates()

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6376 entries, 0 to 783
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Poste        6375 non-null   object
 1   Métier       6376 non-null   object
 2   Pays         6376 non-null   object
 3   Ville        6376 non-null   object
 4   Entreprise   6374 non-null   object
 5   Contrat      957 non-null    object
 6   Salaire      1008 non-null   object
 7   Description  6376 non-null   object
dtypes: object(8)
memory usage: 448.3+ KB

In [41]:
df['Contrat'].value_counts()

CDI                                                    436
Temps plein, CDI                                       228
Stage                                                   89
Apprentissage, Contrat pro                              60
Temps plein, Stage                                      46
Temps plein, Freelance / Indépendant                    38
Temps plein, CDD                                        22
Temps plein, Apprentissage                              13
Temps plein, Apprentissage, Contrat pro                 13
CDD                                                     10
Stage, Apprentissage, Contrat pro                        7
CDD, CDI                                                 7
Apprentissage                                            6
Intérim, Stage                                           5
Temps plein, Temps partiel, Stage                        4
Temps partiel                                            4
Freelance / Indépendant                                  3
Temps partiel, Stage                                     3
Intérim                                                  3
Temps plein, Contrat pro                                 3
Temps plein, Temps partiel, Freelance / Indépendant      2
Temps partiel, Apprentissage, Contrat pro                2
Temps plein, CDD, CDI                                    2
Temps plein, Temps partiel, CDD                          2
Stage, CDI                                               1
Freelance / Indépendant, CDI                             1
Temps plein, Freelance / Indépendant, CDI                1
Temps plein, CDI, Apprentissage, Contrat pro             1
Stage, Freelance / Indépendant                           1
Temps plein, Intérim                                     1
Temps plein, Stage, Apprentissage, Contrat pro           1
Temps plein, Stage, Apprentissage                        1
Temps plein, Temps partiel, Apprentissage                1
Stage, CDI, Apprentissage, Contrat pro                   1
Name: Contrat, dtype: int64

In [37]:
df['Salaire'].unique()

array([nan, '40 000 € - 50 000 € par an', '55 000 € - 65 000 € par an',
       '35 000 € - 50 000 € par an', '40 000 € - 55 000 € par an',
       '44 000 € - 51 000 € par an', '41 800 € - 65 000 € par an',
       '30 000 € - 60 000 € par an', '43 038 € - 52 602 € par an',
       '50 000 € - 55 000 € par an', '50 000 € par an',
       '40 000 € - 70 000 € par an', '3 029 € - 3 703 € par mois',
       '40 000 € - 45 000 € par an', '60 000 € - 70 000 € par an',
       '550 € par jour', '2 076 € - 2 184 € par mois', '490 € par jour',
       '35 000 € - 45 000 € par an', '32 000 € - 45 000 € par an',
       '45 000 € - 65 000 € par an', '45 000 € par an',
       '650 € - 700 € par jour', '600 € par mois', '70 000 € par an',
       '55 000 € par an', '60 000 € par an', '40 000 € - 60 000 € par an',
       '42 000 € - 45 000 € par an', '50 000 € - 70 000 € par an',
       '42 000 € par an', '45 000 € - 55 000 € par an',
       '2 000 € - 4 500 € par mois', '2 436 € - 2 821 € par mois',
       '70 000 € - 80 000 € par an', '42 000 € - 48 000 € par an',
       '40 000 € - 65 000 € par an', '48 000 € - 60 000 € par an',
       '900 € par mois', '38 € - 45 € par heure',
       '1 500 € - 1 700 € par mois', '50 000 € - 60 000 € par an',
       '2 202 € - 2 691 € par mois', '806 € par semaine',
       '45 000 € - 60 000 € par an', '60 000 € - 100 000 € par an',
       '65 000 € - 75 000 € par an', '55 000 € - 60 000 € par an',
       '120 000 € - 140 000 € par an', '58 000 € - 66 000 € par an',
       '36 000 € - 50 000 € par an', '40 000 € - 48 000 € par an',
       '60 000 € - 80 000 € par an', '45 000 € - 70 000 € par an',
       '58 000 € - 70 000 € par an', '75 000 € - 100 000 € par an',
       '65 000 € - 85 000 € par an', '55 000 € - 80 000 € par an',
       '70 000 € - 90 000 € par an', '50 000 € - 65 000 € par an',
       '40 000 € - 53 000 € par an', '42 000 € - 78 000 € par an',
       '36 000 € - 45 000 € par an', '60 000 € - 88 000 € par an',
       '70 000 € - 110 000 € par an', '45 000 € - 63 000 € par an',
       '65 000 € par an', '44 000 € - 57 000 € par an',
       '55 000 € - 70 000 € par an', '44 000 € - 70 000 € par an',
       '1 120 € par semaine', '2 500 € par mois', '450 € par jour',
       '1 500 € par mois', '1 000 € par mois', '350 € - 400 € par jour',
       '35 000 € - 55 000 € par an', '430 € par jour', '28 000 € par an',
       '36 000 € - 46 000 € par an', '1 500 € - 2 250 € par mois',
       '28 000 € - 40 000 € par an', '2 461 € - 2 835 € par mois',
       '33 000 € par an', '48 000 € - 52 000 € par an',
       '3 132 € - 3 828 € par mois', '37 000 € - 42 000 € par an',
       '38 000 € - 43 000 € par an', '4 000 € par mois',
       '3 000 € - 3 400 € par mois', '30 000 € - 34 000 € par an',
       '23 000 € - 25 000 € par an', '32 000 € - 40 000 € par an',
       '2 472 € - 2 847 € par mois', '2 300 € - 2 800 € par mois',
       '48 000 € par an', '1 850 € - 2 500 € par mois', '43 000 € par an',
       '35 000 € par an', '42 000 € - 46 000 € par an',
       '45 000 € - 75 000 € par an', '{0} €{2} par mois',
       '33 000 € - 34 000 € par an', '40 000 € par an',
       '100 000 € par an', '35 000 € - 42 000 € par an',
       '1 300 € par mois', '60 € par heure', '47 000 € par an',
       '45 000 € - 50 000 € par an', '33 000 € - 48 000 € par an',
       '30 000 € - 40 000 € par an', '2 000 € - 4 000 € par mois',
       '25 000 € - 40 000 € par an', '50 € par jour',
       '50 € - 70 € par heure', '2 400 € - 2 600 € par mois',
       '43 € par heure', '35 000 € - 40 000 € par an',
       '1 500 € par semaine', '47 000 € - 52 000 € par an',
       '2 100 € - 2 400 € par mois', '75 000 € par an',
       '42 000 € - 50 000 € par an', '30 000 € - 31 000 € par an',
       '38 000 € - 45 000 € par an', '38 000 € - 40 000 € par an',
       '340 € par jour', '38 000 € - 50 000 € par an',
       '500 € par semaine', '2 088 € - 2 206 € par mois',
       '28 000 € - 38 000 € par an', '52 000 € par an',
       '20 000 € - 30 000 € par an', '2 500 € - 2 900 € par mois',
       '2 088 € - 2 350 € par mois', '30 000 € - 45 000 € par an',
       '43 000 € - 48 000 € par an', '37 000 € - 39 000 € par an',
       '34 000 € - 38 000 € par an', '400 € par jour',
       '800 € - 1 200 € par mois', '600 € - 1 000 € par mois',
       '390 € par jour', '500 € - 600 € par jour',
       '700 € - 950 € par mois', '3 200 € par mois',
       '500 € - 1 200 € par mois', '2 500 € - 3 000 € par mois',
       '2 470 € - 3 100 € par mois', '2 300 € - 3 400 € par mois',
       '40 000 € - 42 000 € par an', '900 € - 1 100 € par mois',
       '1 321 € par mois', '42 000 € - 49 000 € par an',
       '800 € - 1 000 € par mois', '2 300 € par mois', '800 € par mois',
       '2 200 € - 2 400 € par mois', '25 000 € - 35 000 € par an',
       '32 000 € - 34 000 € par an', '2 565 € - 3 135 € par mois',
       '1 939 € - 3 041 € par mois', '610 € par mois', '37 000 € par an',
       '25 000 € - 30 000 € par an', '662 € - 1 539 € par mois',
       '350 € par jour', '2 500 € - 3 500 € par mois',
       '40 € - 60 € par heure', '2 599 € - 3 176 € par mois',
       '700 € - 900 € par mois', '22 000 € - 28 000 € par an',
       '23 000 € - 35 000 € par an', '1 900 € par mois',
       '2 800 € - 4 000 € par mois', '46 000 € par an', '420 € par jour',
       '575 € - 1 500 € par mois', '150 € par an',
       '28 000 € - 32 000 € par an', '36 000 € - 42 000 € par an',
       '165 € par jour', '28 000 € - 34 000 € par an',
       '40 000 € - 44 000 € par an', '31 000 € - 40 000 € par an',
       '1 800 € - 2 500 € par mois', '3 500 € - 3 750 € par mois',
       '41 000 € par an', '18 473 € par an', '38 000 € par an',
       '700 € par mois', '44 000 € - 48 000 € par an',
       '30 000 € - 33 000 € par an', '400 € par semaine',
       '600 € - 1 500 € par mois', '400 € - 500 € par jour',
       '30 000 € - 35 000 € par an', '33 000 € - 35 000 € par an',
       '60 000 € - 75 000 € par an', '35 000 € - 65 000 € par an',
       '2 139 € par mois', '2 700 € - 3 500 € par mois',
       '30 000 € par an', '38 000 € - 55 000 € par an', '45 € par heure',
       '55 € par heure', '39 176 € - 56 339 € par an',
       '58 000 € - 68 000 € par an', '1 000 € - 1 600 € par mois',
       '48 000 € - 58 000 € par an', '45 000 € - 80 000 € par an',
       '555 € - 1 200 € par mois', '2 273 € - 2 779 € par mois',
       '350 € - 450 € par jour', '32 000 € par an',
       '52 000 € - 58 000 € par an', '2 570 € par mois',
       '40 000 € - 47 000 € par an', '42 000 € - 52 000 € par an',
       '1 800 € par mois', '40 529 € - 49 536 € par an',
       '27 000 € - 35 000 € par an', '29 000 € - 35 000 € par an',
       '450 € - 550 € par jour', '1 700 € - 1 900 € par mois',
       '30 000 € - 55 000 € par an', '500 € par jour',
       '34 000 € - 40 000 € par an', '2 595 € - 3 171 € par mois',
       '24 000 € - 28 000 € par an', '36 000 € - 48 000 € par an',
       '19 000 € - 35 000 € par an', '400 € - 450 € par jour',
       '39 000 € par an', '43 200 € par an', '1 500 € - 1 650 € par mois',
       '35 000 € - 43 000 € par an', '33 000 € - 55 000 € par an',
       '4 000 € - 6 000 € par mois', '44 000 € par an',
       '38 000 € - 42 000 € par an', '33 000 € - 38 000 € par an',
       '32 € - 45 € par heure', '440 € par jour',
       '37 000 € - 50 000 € par an', '600 € par jour',
       '500 € - 540 € par jour', '3 736 € par mois', '450 € par semaine',
       '500 € - 550 € par jour', '29 002 € par an',
       '39 000 € - 48 000 € par an', '480 € - 500 € par jour',
       '68 000 € par an', '35 € - 42 € par heure', '36 000 € par an',
       '2 641 € - 3 228 € par mois', '48 000 € - 65 000 € par an',
       '39 000 € - 47 000 € par an', '14 769 € par an',
       '380 € par semaine', '30 000 € - 36 000 € par an',
       '2 206 € - 2 281 € par mois', '2 000 € par mois',
       '90 000 € par an', '21 000 € - 35 000 € par an',
       '45 € - 50 € par heure', '38 000 € - 64 000 € par an',
       '35 000 € - 39 000 € par an', '40 € - 45 € par heure',
       '26 000 € - 35 000 € par an', '33 000 € - 44 000 € par an',
       '2 500 € - 3 200 € par mois', '520 € par jour',
       '38 000 € - 62 000 € par an', '42 € - 50 € par heure',
       '32 065 € - 49 091 € par an', '2 000 € - 2 500 € par mois',
       '320 € par jour', '450 € - 500 € par jour', '380 € par jour',
       '26 000 € - 34 000 € par an', '19 077 € - 49 543 € par an',
       '$20.98 an hour', '$85,000 a year', '$95,400 - $121,800 a year',
       '$75,900 - $130,049 a year', '$120,000 - $150,000 a year',
       '$200,000 - $350,000 a year', '$68,450 - $138,150 a year',
       '$75,200 a year', '$1,000 a month', '$29.57 an hour',
       '$18 an hour', '$60,000 - $80,000 a year',
       '$60,000 - $62,500 a year', '$26.00 - $35.10 an hour',
       '$38,000 - $46,000 a year', '$101,000 a year', 'From $30 an hour',
       '$67,968 - $126,062 a year', '$75,000 - $135,000 a year',
       '$50,000 a year', '$65,000 - $85,000 a year',
       '$70,181 - $109,358 a year', '$65,000 - $80,000 a year',
       '$47,986 - $61,194 a year', '$4,000 a week', '$70 an hour',
       '$65,000 - $100,000 a year', '$16 - $18 an hour',
       '$45,000 - $50,000 a year', '$52,216 - $55,407 a year',
       '$60,782 - $82,051 a year', '$75,000 a year',
       '$105,421 - $121,234 a year', '$125,000 - $240,000 a year',
       '$89,700 - $148,800 a year', '$80,000 - $100,000 a year',
       '$20 an hour', '$56,000 a year', '$20 - $24 an hour',
       '$100,000 a year', '$12 - $15 an hour', 'Up to $12 an hour',
       '$47,600 - $79,699 a year', '$31,600 - $58,400 a year',
       '$56,250 - $93,750 a year', '$59,280 - $81,435 a year',
       '$107,518 a year', '$83,692 - $111,469 a year', '$75,278 a year',
       '$65 an hour', '$85,000 - $120,000 a year',
       '$75,000 - $150,000 a year', '$84,219 a year',
       '$170,000 - $190,000 a year', '$150,000 - $180,000 a year',
       '$65,000 a year', '$50,000 - $80,000 a year',
       '$115,000 - $140,000 a year', '$100,000 - $150,000 a year',
       '$85 an hour', '$54,612 a year', '$70,000 - $100,000 a year',
       '$16.00 - $19.91 an hour', '$81,536 a year', '$60 an hour',
       '$52,272 - $85,848 a year', '$95,000 - $115,000 a year',
       '$8,000 - $12,000 a month', '$95,000 a year',
       '$110,000 - $145,000 a year', '$121,658 a year',
       '$45.14 - $73.42 an hour', '$130,000 a year',
       '$6,000 - $9,500 a month', '$4,000 - $5,100 a month',
       '$110,000 - $160,000 a year', '$30 - $45 an hour',
       '$50,000 - $90,000 a year', '$65,000 - $110,000 a year',
       '$12 an hour', '$25 an hour', '$21.24 - $33.24 an hour',
       '$150,000 - $200,000 a year', '$109,508 - $144,303 a year',
       '$46.04 - $74.89 an hour', '$81,000 - $114,000 a year',
       '$110,000 a year', '$2,500 - $3,250 a month',
       'Up to $165,000 a year', 'Up to $60 an hour', '$115,000 a year',
       'From $50,000 a year', '$41,000 - $75,000 a year',
       '$10 - $12 an hour', '$65,000 - $90,000 a year', '$11.50 an hour',
       '$46,845 - $153,653 a year', '$40 - $60 an hour', '$88 an hour',
       '$90,000 - $120,000 a year', '$22 an hour', '$38 an hour',
       '$54.75 an hour', '$15 an hour', '$70,000 a year', '$54 an hour',
       '$50 an hour', '$70,000 - $120,000 a year',
       '$133,141 - $156,500 a year', '$4,599 - $6,834 a month',
       '$90,000 - $150,000 a year', '$95,000 - $170,000 a year',
       '$97,700 - $125,400 a year', '$162,000 a year',
       '$60,000 - $110,000 a year', '$28 - $34 an hour',
       '$80 - $90 an hour', '$110,000 - $130,000 a year',
       '$57,000 a year', '$6,150 a month'], dtype=object)

In [63]:
import re
def searchBy(x, pattern):
    match = re.search(pattern, str.lower(x))
    if match:
        return match.group(0)
salaryMatch = re.compile(r'((([\$€]\s?\d+([\.,\s]?\d{3})*[\s]?k?([\.,\s]\d{2})?([\s]?((à)|(au)|(et)|(\/)|(->?)|(to)|(and))?[\s]?[\$€]?[\s]?\d{1,3}([\.,\s]?\d{3})*\s?k?([\.,\s]?\d{2})?)?)|((\d+([\.,\s]?\d{3})*\s?k?([\.,\s]\d{2})?\s?[\$€]?([\s]?((à)|(au)|(et)|(and)|(\/)|(->?)|(to))?[\s]?\d{1,3}([\.,\s]?\d{3})*\s?k?([\.,\s]\d{2})?)?)[€\$])[\s]?)(\s*(brut)?\s*((par)|(a)|(an)|(per)|(by)|(\/)|(every)|(un)|(une))[\s]*((annually)|(heure)|(jour)|(hebdomadaire)|(mois)|(mensuel)|(hour)|(day)|(month)|(year)|(an))))')

df['SalaryExtract'] = df['Description'].apply(
    lambda x: searchBy(x, salaryMatch))

In [64]:
df['Salaire'].update(df['SalaryExtract'])

In [50]:
df['Salaire'].isna().sum()

6155

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6376 entries, 0 to 783
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poste          6375 non-null   object
 1   Métier         6376 non-null   object
 2   Pays           6376 non-null   object
 3   Ville          6376 non-null   object
 4   Entreprise     6374 non-null   object
 5   Contrat        957 non-null    object
 6   Salaire        1068 non-null   object
 7   Description    6376 non-null   object
 8   SalaryExtract  632 non-null    object
dtypes: object(9)
memory usage: 498.1+ KB

In [61]:
df = df.drop_duplicates()
df.shape

(6376, 8)

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6376 entries, 0 to 783
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Poste        6375 non-null   object
 1   Métier       6376 non-null   object
 2   Pays         6376 non-null   object
 3   Ville        6376 non-null   object
 4   Entreprise   6374 non-null   object
 5   Contrat      957 non-null    object
 6   Salaire      1008 non-null   object
 7   Description  6376 non-null   object
dtypes: object(8)
memory usage: 448.3+ KB

In [8]:
test = pd.DataFrame({'Métier':'Développeur Python', 'Pays': 'France', 'Study required': 'Guaduate', 'Experience required': 'Confirmed'}, index=[0])

In [24]:
test = {'Confirmed':0, 'Data Scientist':0, 'Doctor':0, 'Développeur Java':0,
                                 'Développeur JavaScript':0, 'Développeur Python':0, 'Entry':0, 'Expert':0,
                                 'France':0, 'Guaduate':0, 'High School':0, 'Intermediate':0, 'Master':0,
                                 'Senior':0, 'USA':0, 'Unnamed: 15':0, 'Python':0, 'R':0, 'Matlab':0,
                                 'Kubernetes':0, 'Bash':0, 'Fortran':0, 'Ruby':0, 'Golang':0, 'C':0, 'Java':0,
                                 'JEE':0, 'JSP':0, 'J2ME':0, 'BREW':0, 'MVC':0, 'SASS':0, 'XML':0, 'Eclipse':0,
                                 'Spring':0, 'Atlassian':0, 'Jenkin':0, 'FIX':0, 'Nexus':0, 'Maven':0,
                                 'Flutter':0, 'Bootstrap':0, 'Kafka':0, 'Data software':0, 'Data analysis':0,
                                 'Data preprocessing':0, 'Report':0, 'Math':0, 'Development':0,
                                 'Integration':0, 'ReactNative':0, 'Dataiku':0, 'Data viz':0, 'Data skills':0,
                                 'Data pipeline':0, 'Git':0, 'SQL':0, 'Djanbo':0, 'Database':0, 'Javascrpit':0,
                                 'POO':0, 'Regex':0, 'Mobile Programming':0, 'Team Work':0,
                                 'Machine Learning':0, 'Web langage':0, 'System unix':0, 'Scratch':0,
                                 'Scala':0, 'API':0, 'RestAPI':0, '.Net':0, 'Visual Studio':0, 'Responsive':0,
                                 'Javascript Skills':0, 'Outil bureautique':0, 'Deep Learning':0,
                                 'Text analytics':0, 'Marketing':0, 'Finance':0, 'Communication':0,
                                 'Statistics':0, 'Cloud':0, 'Big data':0, 'Computer science':0, 'Flask':0,
                                 'Streamlit':0, 'Docker':0, 'Saas':0, 'Back-end':0, 'Front-end':0, 'Design':0,
                                 'SAS':0, 'Business intelligence':0, 'Statistic':0, 'Redis':0,
                                 'Web Scrapping':0, 'Server':0, 'Blockchain':0, 'English':0, 'French':0,
                                 'Postman':0, 'Websphere':0, 'Conception':0, 'Documentation':0, 'Teach':0,
                                 'Debug':0, 'Test':0, 'Redux':0, 'JQuery':0, 'Maintenance':0, 'Microservices':0}

In [13]:
mm ='Python'
test[mm] = 1
test['Python']

1

In [67]:
int_features = [int(x) for x in list(test.values())]
final_features = [np.array(int_features)]
print(final_features)
print(len(int_features))

NameError: name 'test' is not defined

In [72]:
import pandas as pd
import re
import numpy as np

jobs = ['Data scientist', 'Python', 'Javascript', 'Java',
        'Data scientist', 'Python', 'Javascript', 'Java']
countrys = ['France', 'France', 'France', 'France', 'USA', 'USA', 'USA', 'USA']

# Les mots clés des compétences

skills = {'Python': ['Python', 'python'],
          'R': ['"R"', 'langage R', 'R/' '/R', 'R studio', 'RStudio'],
          'Matlab': ['MATLAB'],
          'Kubernetes': ['Kubernetes'],
          'Bash': ['Bash'],
          'Fortran': ['FORTRAN'],
          'Ruby': ['Ruby'],
          'Golang': ['Golang'],
          'C': ['C++', 'C#'],
          'Java': ['Java'],
          'JEE': ['JEE', 'J2EE'],
          'JSP': ['JSP'],
          'J2ME': ['J2ME'],
          'BREW': ['BREW'],
          'MVC': ['MVC'],
          'SASS': ['Sass'],
          'XML': ['XML'],
          'Eclipse': ['Eclipse'],
          'Spring': ['Spring'],
          'Atlassian': ['Atlassian'],
          'Jenkin': ['Jenkin'],
          'FIX': ['Fix'],
          'Nexus': ['Nexus'],
          'Maven': ['Maven'],
          'Flutter': ['Flutter'],
          'Bootstrap': ['Bootstrap'],
          'Kafka': ['Kafka'],
          'Data software': ['Stata', 'PowerBI', 'Gis', 'EMR', 'RDS', 'S3', 'Athena'],
          'Data analysis': ['analyze', 'analysis', 'analyzing', 'analyst', 'analyser', 'analytics'],
          'Data preprocessing': ['Clearn', 'Prepare', 'Preprocessing', 'gestion de données', 'Traitement',
                                 'Data mining'],
          'Report': ['Report', 'Presentation'],
          'Math': ['Math'],
          'Development': ['Développement', 'Development'],
          'Integration': ['intégration', 'integration'],
          'ReactNative': ['React Native', 'ReactNative'],
          'Dataiku': ['Dataiku', 'Data Iku'],
          'Data viz': ['Seaborn', 'Matplotlib', 'Plotly', 'visualization', 'ggplot2', 'visual', 'viz'],
          'Data skills': ['Numpy', 'Pandas'],
          'Data pipeline': ['pipeline'],
          'Git': ['Github', 'Git', 'Gitlab', 'BitBucket'],
          'SQL': ['SQL', 'NoSQL', 'BigQuery', 'Oracle'],
          'Djanbo': ['Djanbo'],
          'Database': ['MongoDB', 'SGBD', 'MySQL', 'MariaDB', 'Hive', 'HBase', 'BDD', 'base de donnée',
                       'bases de données'],
          'Javascrpit': ['Javascript'],
          'POO': ['Orientée Objet', 'POO', 'OOP', 'Object Oriented', 'OO', 'object-oriented', 'Object Oriented'],
          'Regex': ['regex', 'pattern'],
          'Mobile Programming': ['Swift', 'Kotlin', 'Android', 'Androïd', 'mobile'],
          'Team Work': ['team', 'Agile', 'équipe', 'equipe'],
          'Machine Learning': ['Machine-Learning', 'IA', 'AI', 'Machine Learning', 'Machine learning', 'ML', ' Scikit',
                               'scikit', 'Artificial intelligence'],
          'Web langage': ['CSS', 'HTML'],
          'System unix': ['Linux', 'GNU', 'Unix'],
          'Scratch': ['Scratch'],
          'Scala': ['Scala'],
          'API': ['API'],
          'RestAPI': ['REST', 'JSon'],
          '.Net': ['.Net'],
          'Kafka': ['Kafka'],
          'Visual Studio': ['Visual Studio'],
          'Responsive': ['Responsive'],
          'Javascript Skills': ['Webpack', 'JQuery', 'AJAX', 'React', 'Angular', 'Vue', 'Node', 'full stack', 'npm'],
          'Outil bureautique': ['Excel', 'Office'],
          'Deep Learning': ['Deep Learning', 'DL', 'Deep-Learning', 'Deep-learning', 'Sequential', 'TensorFlow',
                            'PyTorch', 'Caffe', 'Keras', 'Tensor Flow'],
          'Text analytics': ['NLP', 'Natural Language Processing', 'Text Analytics', 'Text mining'],
          'Marketing': ['Marketing', 'Pricing', 'prix', 'publicitaires', 'vente', 'cible', 'ciblage'],
          'Finance': ['Insurance', 'Finance', 'Economic'],
          'Communication': ['Communic'],
          'Statistics': ['Statistic', 'Statistique'],
          'Cloud': ['Google Cloud', 'Azur', 'AWS', 'Cloud'],
          'Big data': ['Big data', 'Spark', 'Hadoop', 'Yarn', 'Pig', 'Morphline', 'ETL', 'gros volume de donnée',
                       'PySpark'],
          'Computer science': ['Computer science', 'Computer Engineering'],
          'Djanbo': ['Djanbo'],
          'Flask': ['Flask'],
          'Streamlit': ['Streamlit'],
          'Docker': ['Docker'],
          'Saas': ['Saas'],
          'Back-end': ['Back-end', 'PHP', 'backend'],
          'Front-end': ['front'],
          'Design': ['Design', 'UI', 'UX'],
          'SAS': ['SAS'],
          'Business intelligence': ['Business Intelligence'],
          'Statistic': ['Statistic', 'statas'],
          'Redis': ['Redis'],
          'Web Scrapping': ['Selenium', 'BeautifulSoup', 'Scipy'],
          'Server': ['ElasticSearch', 'Server', 'Elastic Search'],
          'Blockchain': ['blockchain', 'Bitcoin'],
          'English': ['English', 'international', 'anglais', 'anglophone'],
          'French': ['français', 'francophone'],
          'Postman': ['Postman'],
          'Websphere': ['Websphere'],
          'Conception': ['Conception'],
          'Documentation': ['Documentation', 'plan'],
          'Teach': ['teach', 'Education'],
          'Debug': ['Debug', 'problem solver', 'Solution'],
          'Test': ['test'],
          'Redux': ['Redux'],
          'JQuery': ['JQuery'],
          'Maintenance': ['Maintenance', 'Maintain'],
          'Microservices': ['micro-service', 'microservice']
          }
# }
# contrats = ['CDI','CDD','Apprentissage','Contrat pro','Stage','Intérim','Freelance','Indépendant','Freelance']

# Les mots clés des niveaux d'études
studylevel_keywords = {'High School': ['High School', 'Baccalauréat'],
                       'Guaduate': ['Université', 'B.S.', 'BA', 'BS', 'Universitaire', 'Formation supérieure',
                                    'Guaduate', 'Bac +2', 'Bac +3', 'Bachelor'],
                       'Master': ['Master', 'M.S.', 'Master 2', 'Master +2', 'Bac +5', 'Bac+5', 'Bac +4', 'Bac+4',
                                  'Grande école d\'ingénieur', 'Bac +4/5', 'M2', 'Cursus ingénieur', 'engineer',
                                  'Diplôme ingénieur', 'MBA'],
                       'Doctor': ['Doctorat', 'Doctor', 'PhD', 'Ph.D', 'bac+8', 'bac +8']
                       }

# Les mots clés des niveaux d'expériences
explevel_keywords = {
    'Entry': ['Entry', 'Débutant', 'Beginer', 'No experience', 'Apprenant', 'Stage', 'Stagiaire', 'Pas d`\'expérience',
              '0-1 an', '0 - 1 an', '0/1 an', '0 / 1 an', 'Junior', '1 an'],
    'Intermediate': ['Intermédiaire', 'Intermediate', '2+ year', '2 year', '3 year', '2-3 year', '2 ans', '2/3 an',
                     '1-2 an', '1-3  years', 'two (2) year', '(2) year', '1ère expérience', '> 1 an',
                     'première expérience', '2 à 3 an'],
    'Confirmed': ['Confirm', '3 an', '4 an', '5 an', '3+ year', '4+ year', '5+ year', '3 year', '4 year', '5 year',
                  '3-5 year', '3-5 an', '2-5 an', '3/5 year', '3/5 an', '4-6+ year', '4-6+ an', '2-7 years', 'two year',
                  'three year', 'four year', 'five year', '2/5 an', 'ADVANCED', '5 yrs'],
    'Expert': ['Expert', 'six year', 'seven year', 'eight year', 'nine year', '6 year', '6+ years', '7 year', '7+ year',
               '8 year', '8+ year', '9 year', '9+ year', '6 an', '6+ an', '7 an', '7+ an', '8 an', '8+ an', '9 an',
               '9+ an', '10 an', '5-10 year', '5-10 an', '5 - 10 an', '5/10 year', '5/10 an', '6-8 year', 'six an',
               'six+ an', 'sept an', 'sept+ an', 'huit an', 'huit+ an', 'neuf an', 'neuf+ an'],
    'Senior': ['Senior', '10+ year', '10+ an', '10 ans +', 'plus de 10 an', 'ten year', 'dix+ an', 'dix ans +',
               'plus de 10 an']
    }


# Regex pour récupérer les chaînes pour indique les salaires


# La fonction vérifie si un terme existe dans une chaîne de caractère
def exist_in_array(x, dicto):
    for key in dicto:
        if any(str.lower(term) in str.lower(x) for term in dicto[key]):
            return key
        else:
            pass
    return None


# La fonction vérifie si un terme existe dans la colonne ['Poste'] et ['Description']
def exist_experience(row, dicto):
    poste_lower = str.lower(row['Poste'])
    desc_lower = str.lower(row['Description'])

    for key in dicto:
        if any(str.lower(term) in poste_lower for term in dicto[key]):
            return key
        elif any(str.lower(term) in desc_lower for term in dicto[key]):
            return key
        else:
            pass
    return row


# La fonction retourne le résultat obtenu à partir d'un string et regex
def searchBy(x, pattern):
    match = re.search(pattern, str.lower(x))
    if match:
        return match.group(0)


# Fonction qui retourne un numbre de format correcte à partir des nombres en format de string
def correct_number(string):
    numb_string = str(string).replace(' ', '').replace('k', '000')

    # Si le nombre a un virgule devant les deux dernier chiffres
    if re.match('^.+[.]\d{2}$', numb_string):
        numb = numb_string.replace(',', '')
        return (float(numb))

    # Si le nombre a un point devant les deux dernier chiffres
    elif re.match('^.+[,]\d{2}$', numb_string):
        numb = numb_string.replace(',', '.')
        return (float(numb))

    # Si le nombre n'a pas de point ni virgule devant les deux dernier chiffres
    else:
        numb = numb_string.replace(',', '').replace('\.', '')
        return (float(numb))


# fonction qui sépare les salaire minimum et salaire maximum en 2 colonnes différents
def minmaxSalary(row):
    match = re.match(
        r'(?:\D*)(?:[\$€]?\s?)((?:\d+)(?:[\.,\s]?\d{3})*(?:[\s]?k)?(?:[\.,\s]\d{2})?)(?:[\s]?[\$€]?[\s]?(?:à|au|et|\/|->?|to|and)?[\s]?[\$€]?\s?)((?:\d+)(?:[\.,\s]?\d{3})*(?:[\s]?k)?(?:[\.,\s]\d{2})?)?',
        row['Salaire'])

    # Si on obtient les salaire minimum et salaire maximum
    if (len(match.groups(0)) == 2) and (match.groups(0)[1] != 0):

        minSalary = correct_number(match.groups(0)[0])
        maxSalary = correct_number(match.groups(0)[1])

    # Si on obtient juste un salaire
    elif match.groups(0)[1] == 0:

        minSalary = correct_number(match.groups(0)[0])
        maxSalary = minSalary

    # Non retrouvé
    else:

        minSalary = np.nan
        maxSalary = np.nan

    # Si dans le salaire est indiqué le salaire par an
    if re.search(r'(annually)|(year)|(((par)|(per)|(by)|(\/)|(every)|(un)|(une))[\s]?an)', row['Salaire']):
        row['Salaire minimum par an'] = minSalary
        row['Salaire maximum par an'] = maxSalary

    # Si dans le salaire est indiqué le salaire par mois
    elif re.search(r'(month)|(mensuel)|(mois)', row['Salaire']):
        row['Salaire minimum par an'] = minSalary * 12
        row['Salaire maximum par an'] = maxSalary * 12

    # Si dans le salaire est indiqué le salaire par semaine
    elif re.search(r'(week)|(semaine)|(hebdomadaire)', row['Salaire']):
        row['Salaire minimum par an'] = minSalary * 4 * 12
        row['Salaire maximum par an'] = maxSalary * 4 * 12

    # Si dans le salaire est indiqué le salaire par jour
    elif re.search(r'(day)|(jour)', row['Salaire']):
        row['Salaire minimum par an'] = minSalary * 22 * 12
        row['Salaire maximum par an'] = maxSalary * 22 * 12

    # Si dans le salaire est indiqué le salaire par heure
    elif re.search(r'(hour)|(heur)', row['Salaire']):
        row['Salaire minimum par an'] = minSalary * 8 * 22 * 12
        row['Salaire maximum par an'] = maxSalary * 8 * 22 * 12

    # pour tout autres cas return np.nan
    else:
        row['Salaire minimum par an'] = np.nan
        row['Salaire maximum par an'] = np.nan
    return row


# La fonction vérifie si dans la colonne ['Description'] de chaque ligne, s'il trouve descompétences dans le dictionnaire, si oui, il met un 1
def skill_required(row, skills):
    desc_low = str.lower(row['Description'])

    for key in skills:
        if any(str.lower(term) in desc_low for term in skills[key]):
            row[key] = 1
        else:
            pass

    return row


# La fonction qui donne un array de quantile à partir de ['Salaire minimum par an'] et ['Salaire maximum par an']
def separe_quantile(df, number):
    list_prob = [1 / number * i for i in range(1, number + 1)]
    array_min = df['Salaire minimum par an'].quantile(
        q=list_prob, interpolation="linear")
    array_max = df['Salaire maximum par an'].quantile(
        q=list_prob, interpolation="linear")

    liste_classe = [0]

    for i in range(number):
        liste_classe.append((array_min.values[i] + array_max.values[i]) / 2)

    liste_classe.pop()
    liste_classe.append(array_max.values[-1])
    return (liste_classe)

    # La fonction qui mets la classe de salaire de chaque ligne


def put_class_salaire(row, classes):
    mean = (row['Salaire minimum par an'] + row['Salaire maximum par an']) / 2
    for i in range(len(classes) - 1):
        if (classes[i] <= mean) and (mean <= classes[i + 1]):
            row['Classe de salaire par an'] = str(
                int(classes[i])) + (' - ') + str(int(classes[i + 1]))
    return row


# La fonction qui prend la colonne ['Ville'] en réduisant la taille pour devenir la colonne ['City']
def extract_city(x):
    regex = re.compile(
        r'(?:\D*)(?:\()(\d{2})(?:\))|(?:.*)([A-Z]{2})(?:.*)|(?:)')
    resultat = re.match(regex, str(x)).groups(0)
    if (resultat[0] != 0):
        if (int(resultat[0]) == 75) or (int(resultat[0]) > 90 and int(resultat[0]) <= 95):
            return "ILE DE FRANCE"
        else:
            return "AUTRE VILLEFR"
    elif (resultat[1] != 0):
        return resultat[1]
    else:
        pass


def in_colonne(row, column_name):
    try:
        row[row[column_name]] = 1
    except:
        pass
    return row


# prendres tout les noms de fichiers csv dans le array
filenames = [str.lower(job).replace(' ', '') + str.lower(country) + '.csv' for job, country in zip(jobs, countrys)]

dfs = [pd.read_csv(filename, sep=';', encoding="utf-8-sig")
       for filename in filenames]

# Ajouter une colonne indique le métier
dfs[0]['Métier'] = 'Data Scientist'
dfs[1]['Métier'] = 'Développeur Python'
dfs[2]['Métier'] = 'Développeur JavaScript'
dfs[3]['Métier'] = 'Développeur Java'
dfs[4]['Métier'] = 'Data Scientist'
dfs[5]['Métier'] = 'Développeur Python'
dfs[6]['Métier'] = 'Développeur JavaScript'
dfs[7]['Métier'] = 'Développeur Java'

# Créer le dataframe à partir de la concaténations de ces fichiers
df = pd.concat(dfs)
df = df[df.Description.isna() == False]

salaryMatch = re.compile(
    r'((([\$€]\s?\d+([\.,\s]?\d{3})*[\s]?k?([\.,\s]\d{2})?([\s]?((à)|(au)|(et)|(\/)|(->?)|(to)|(and))?[\s]?[\$€]?[\s]?\d{1,3}([\.,\s]?\d{3})*\s?k?([\.,\s]?\d{2})?)?)|((\d+([\.,\s]?\d{3})*\s?k?([\.,\s]\d{2})?\s?[\$€]?([\s]?((à)|(au)|(et)|(and)|(\/)|(->?)|(to))?[\s]?\d{1,3}([\.,\s]?\d{3})*\s?k?([\.,\s]\d{2})?)?)[€\$])[\s]?)(\s*(brut)?\s*((par)|(a)|(an)|(per)|(by)|(\/)|(every)|(un)|(une))[\s]*((annually)|(heure)|(jour)|(hebdomadaire)|(mois)|(mensuel)|(hour)|(day)|(month)|(year)|(an))))')

datascientist = df[
    (df['Poste'].str.lower().str.contains('data')) & (df['Poste'].str.lower().str.contains('scientist')) & (
        df['Poste'].str.lower().str.contains(str.lower('Machine Learning'))) & (
        df['Poste'].str.lower().str.contains(str.lower('Data science')))]
df = pd.concat([df[df['Métier'] != 'Data Scientist'],
                datascientist], ignore_index=True)

df = pd.concat([df, pd.DataFrame(
    columns=["Data Scientist", "Développeur Python", "Développeur JavaScript", "Développeur Java"])])

df = pd.concat([df, pd.DataFrame(columns=["France", "USA"])])
df = pd.concat([df, pd.DataFrame(columns=studylevel_keywords)])
df = pd.concat([df, pd.DataFrame(columns=explevel_keywords)])


# Extraire des niveaux d'étude requis à partir de la colonne ['Description']
df['Study required'] = df['Description'].apply(
    lambda x: exist_in_array(x, studylevel_keywords))

# Extraire des niveaux d'expérience requis à partir de la colonne ['Description']
df['Experience required'] = df['Description'].apply(
    lambda x: exist_in_array(x, explevel_keywords))

df = df.apply(lambda row: in_colonne(row, 'Pays'), axis=1)
df = df.apply(lambda row: in_colonne(row, 'Métier'), axis=1)
df = df.apply(lambda row: in_colonne(row, 'Study required'), axis=1)
df = df.apply(lambda row: in_colonne(row, 'Experience required'), axis=1)

# Ajouter les colonnes de compétence et extraire la valeur à partir de la colonne ['Description']
df = pd.concat([df, pd.DataFrame(columns=skills)])
df = df.apply(lambda row: skill_required(row, skills), axis=1)

# Extraire des salaires à partir de la colonne  ['Description']
df['SalaryExtract'] = df['Description'].apply(
    lambda x: searchBy(x, salaryMatch))

# Remplacer la colonne ['Salaire'] nulle par ['SalaryExtract'], si ['SalaryExtract'] est non nulle aussi
df['Salaire'].update(df['SalaryExtract'])

# Supprimer les lignes dont le salaire n'ont pas de valeur
df = df[df['Salaire'].isna() == False]


# Supprimer les lignes doublants
df = df.drop_duplicates()

# Ajouter les colonnes ['Salaire minimum par an'] et ['Salaire maximum par an']
df = pd.concat([df, pd.DataFrame(
    columns=['Salaire minimum par an', 'Salaire maximum par an'])])

# Assigner les colonnes ['Salaire minimum par an'] et ['Salaire maximum par an'] par les valeurs de la colonne ['Salaire']
df = df.apply(lambda row: minmaxSalary(row), axis=1)

df['Moyenne salaire par an'] = (df['Salaire minimum par an'] + df['Salaire maximum par an'])/2
 

df.reset_index(drop=True, inplace=True)

df = df.fillna(0)

In [74]:
df

,Confirmed,Contrat,Data Scientist,Description,Doctor,Développeur Java,Développeur JavaScript,Développeur Python,Entreprise,Entry,...,Debug,Test,Redux,JQuery,Maintenance,Microservices,SalaryExtract,Salaire minimum par an,Salaire maximum par an,Moyenne salaire par an
0,0.0,0,0.0,PYTHON est une entreprise de travaux du bâtim...,0.0,0.0,0.0,1.0,PYTHON,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,"2 500,00€ /mois",30000.0,30000.0,30000.0
1,1.0,0,0.0,Nous recherchons un Ingénieur Développement Lo...,0.0,0.0,0.0,1.0,Médiane Système,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,"34 000,00€ à 50 000,00€ /mois",408000.0,600000.0,504000.0
2,0.0,0,0.0,L'entreprise HESPERIE CONSEIL est un cabinet d...,0.0,0.0,0.0,1.0,Hesperie Conseil,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,38688.0,38688.0,38688.0
3,0.0,0,0.0,Nous recherchons de façon urgente un Développe...,0.0,0.0,0.0,1.0,PRIUM PARTNERS,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,118800.0,118800.0,118800.0
4,0.0,0,0.0,"Depuis 2010, VONA Consulting, cabinet de conse...",0.0,0.0,0.0,1.0,VONA,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,"1 500,00€ /mois",18000.0,18000.0,18000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
909,1.0,0,0.0,"Description Located in Raleigh, NC (North Caro...",0.0,1.0,0.0,0.0,Piper Companies,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0,110000.0,130000.0,120000.0
910,0.0,0,0.0,Job Details Position : Java Backend developer ...,0.0,1.0,0.0,0.0,Ace-stack LLC,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0,126720.0,126720.0,126720.0
911,0.0,0,0.0,Job Responsibilities: Analyze business require...,0.0,1.0,0.0,0.0,"Sunwest Mortgage Company, Inc.",0.0,...,1.0,1.0,0.0,0.0,1.0,0.0,"$57,000/year",57000.0,57000.0,57000.0
912,1.0,0,0.0,Department Description The mission of Informa...,0.0,1.0,0.0,0.0,"University of California, Davis",0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0,73800.0,73800.0,73800.0
913,1.0,0,0.0,We all depend on healthcare throughout our lif...,0.0,1.0,0.0,0.0,Ace-stack LLC,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,126720.0,126720.0,126720.0

In [98]:
df[df['Moyenne salaire par an'] > 250000]['Study required']

1      Guaduate
105    Guaduate
176    Guaduate
196    Guaduate
252    Guaduate
290    Guaduate
303    Guaduate
372    Guaduate
403    Guaduate
515    Guaduate
620    Guaduate
624    Guaduate
637    Guaduate
699    Guaduate
708    Guaduate
710    Guaduate
Name: Study required, dtype: object

In [82]:
df[df['Moyenne salaire par an'] > 250000]['Experience required']

1         Confirmed
105       Confirmed
176       Confirmed
196       Confirmed
252           Entry
290          Expert
303           Entry
372    Intermediate
403    Intermediate
515           Entry
620           Entry
624          Expert
637    Intermediate
699       Confirmed
708    Intermediate
710           Entry
Name: Experience required, dtype: object

In [90]:
pd.set_option('display.max_column',100)
df = df[df['Moyenne salaire par an'] > 250000]

In [97]:
for i in range(df.shape[0]):
    print()
    print('----------------------------------')
    print()
    print(df.iloc[i]['Description'])

----------------------------------

Nous recherchons un Ingénieur Développement Logiciel Python (H/F) pour rejoindre l'équipe R&D de notre client basé à Grenoble. Vous serez en charge de développer un outil de simulation de comportement de stations de distribution de bio carburant. Dans un premier temps, vous accompagnerez l'équipe dans la phase de compréhension / expression du besoin et prendrez ensuite en charge la phase de développement dans son ensemble. Le logiciel sera développé en python, avec une interface graphique permettant de construire une station comprenant du matériel et une charge appliquée ( nombre de voiture ou camions / jour ). Ce logiciel a pour but d'évaluer la rentabilité / efficacité de la station. De formation BAC+5 en informatique, vous bénéficiez d'une expérience de 3 ans minimum en développement logiciel. Vous disposez d'excellentes compétences en Python et d'une bonne connaissance en base de données ( SQL et no SQL). Enfin, vous avez idéalement des connaissances en API web car l'application doit s’exécuter sur un serveur distant. La lecture de cette offre suscite votre intérêt ? Vous souhaitez en savoir plus ? Et si vous passiez à l'étape suivante ? --------------------------------------------------------------------------------------------------------- Quelques mots sur Médiane Système ... Créée par des Ingénieurs POUR des Ingénieurs, Médiane Système est une société d’ingénierie technique à taille humaine spécialisée depuis 30 ans dans les métiers de la conception et du développement de systèmes embarqués pour l’industrie (logiciel embarqué et applicatif, électronique numérique/analogique, IIoT, cyber sécurité, bancs de tests). Participer à l’aventure Médiane Système, c’est travailler sur des projets stimulants et variés au cœur des évolutions technologiques industrielles. Du secteur ferroviaire au médical, en passant par l’énergie, l’automobile, l’aéronautique ou bien les télécoms, nos équipes interviennent dans des environnements technologiques de pointe innovants et exigeants. Retrouvez quelques-uns de nos projets sur notre site internet : https://www.medianesysteme.com/metiers/projets. Intégrer Médiane Système, c’est aussi rejoindre une communauté de spécialistes où vos compétences professionnelles seront reconnues, cultivées, enrichies et où vos qualités personnelles seront développées. Permettre à nos collaborateurs de se réaliser, c’est avant tout les écouter et les comprendre. Ainsi, tous les managers sont issus de la technique et parlent votre « langage ». Une carrière adaptée pour réaliser vos ambitions Nous mettons tout en œuvre pour construire, ensemble, une carrière à votre image, à la hauteur de votre potentiel et de vos exigences. Expertise technique, encadrement, gestion de projets, qualité, c'est vous qui choisissez ! Cet accompagnement se réalise dans le cadre de formations adaptées et continues (internes et/ou externes) et d’un plan d’évolution de carrière clair et personnalisé en fonction de vos aspirations. Vous voulez en savoir plus ? Envoyez-moi votre CV ou contactez-moi directement sur LinkedIn : https://www.linkedin.com/in/amandine-larlet/. À tout de suite ! Amandine LARLET Chargée de Recrutement à Grenoble Avantages : Participation au transport RTT Titre-restaurant / Panier Type d'emploi : Temps plein, CDI Salaire : 34 000,00€ à 50 000,00€ /mois Expérience: Développeur Logiciel Pyhthon (H/F): 3 ans (Requis) Télétravail: Temporairement en raison du COVID-19 Il y a plus de 30 jours Signaler un abus

----------------------------------

Nous recrutons pour le compte de notre client un RESPONSABLE ASSUREUR (QUALITE H/F) Au sein de la Direction Technique, le/la Responsable Assurance Qualité aura les responsabilités suivantes : - Définition des scénarios de tests (fonctionnels, performances, sécurité, régressions, etc.), - Contrôle qualité sur l’ensemble des produits (logiciels, documentations, installations, etc.), - Conception et développement des tests automatiques, - Suivi des anomalies (ouverture, contrôles, fermeture). Profil : Autonomie et aisance relationnelle, Sens de l’organisation, rigueur et méthode, Maîtrise d’au moins un outil de test (AutoHotkey, Robot Framework, Selenium, etc.), Une bonne connaissance des outils Linux (Shell, Bash, Python, etc.) est un plus, Un bon niveau d’anglais est un plus. Formation & expériences : Licence professionnelle de développement et qualité logicielle (Bac+3) ou équivalent, 3 ans ou plus d’expérience professionnelle. Type d'emploi : Temps plein, CDI Salaire : 45 000,00€ à 50 000,00€ /mois Avantages : Participation au Transport Titre-restaurant Expérience: consultant ou similaire: 3 ans (Requis) Formation: Bac +3 (Licence / Bachelor) (Requis) Télétravail: Non Publiée à l'instant Signaler un abus

----------------------------------

Notre client , l'un des leaders mondiale dans le domaine du numérique,propose l'un des portefeuilles d'offres les plus complets du marché (conseil, intégration de systèmes, édition de solutions métier, infrastructure management et business process services) recherche un(e) architecte Big Data afin d'accompagner ses clients dans la mise en place de lac de données et d'applications Data. Vos missions seront: - Définir et/ou mettre en oeuvre des solutions / architectures / projets autour de l'écosystème Big Data - Participer à des avant-ventes - Mettre en place des benchmark de solutions, des prototypes et des projets - Contribuer à définir et diffuser les bonnes pratiques au sein des équipes sur le Big Data - Supporter les équipes de réalisation par une expertise sur les solutions et/ou démarches Big Data - Contribuer à la veille technologique sur les solutions Big Data - Elaborer et présenter nos retours d'expérience auprès de nos clients Environnement technologique/fonctionnel: - Architecture et Infrastructure Hadoop (Nifi, Kafka, Sqoop, Flume, Spark, Hive) et distributions associées (HortonWorks, Cloudera, MapR) - Solutions Editeurs (Microsoft APS, IBM Big Insight / Watson?) - Data Science (Python, Scala, R) - Data Visualisation - Base de données noSQL Profil recherché: Titulaire d'un Bac +5 en informatique, vous disposez d'une expérience de 3 à 8 ans, avec des références significatives dans la définition d'architectures et la mise en oeuvre de projets et solutions Big Data chez des clients. Vous êtes un architecte système d'informations reconnu sur les systèmes de gestion des données. Vous savez identifier et positionner les principales solutions évoquées ci-dessus, dans le domaine principal du Data Management, et éventuellement dans les domaines de Data Science et Data Visualisation gravitant autour de l'écosystème Big Data. Vous êtes reconnu pour votre capacité à animer, à fédérer autour d'une vision, pour votre rigueur, vos capacités d'analyse, de synthèse et d'innovation. Vous disposez d'un très bon niveau d'anglais. A compétences égales, tous nos postes sont ouverts aux personnes en situation de handicap. Postulez dès maintenant ! Type d'emploi : Temps plein, CDI Salaire : 70 000,00€ à 110 000,00€ /mois Expérience: architecte big data ou similaire: 3 ans (Requis) Il y a plus de 30 jours Signaler un abus

----------------------------------

Qui sommes-nous ? Depuis sa création en Novembre 2017 notre pôle QA a fait son chemin, et aujourd’hui ce sont des QA managers, des testeurs fonctionnels et automaticiens qui composent notre practice QA ! Pour continuer le développement de notre expertise, nous recherchons un(e) ingénieur test et automatisation ! Nous intervenons dans des projets digitaux et innovants (Retail, E-banking, Energie, Transports, etc.) avec des grands comptes & des PME ! Vous avez un sens aigu du détail, vous êtes rigoureux et méthodique ? Alors ce poste est fait pour vous ! Les responsabilités que nous vous confions : S'intégrer facilement à une équipe, un environnement de développement et des contraintes de déploiement de services (haute disponibilité, forte charge) Concevoir des stratégies de tests en tenant compte des exigences fonctionnelles et techniques, des délais, des disponibilités et de la stratégie des tests globale Assurer la qualité des développements : code review, pair programming, tests unitaires... Mettre en place la stratégie d'automatisation (méthodologie, best practices, DevOps) Etre force de proposition (algorithmie, architecture) Documenter et communiquer autour de son travail Travailler en environnement Agile/Scrum Le profil que nous recherchons : Diplômé d'une école d'ingénieur ou équivalent (Bac +5) Vous justifiez de 3 à 5 ans d'expérience en Test/QA Une expérience en développement : C#, Java, ou Python Une connaissance d’outils automatiques sera un plus : Selenium, Katalon, SOAP UI, Ranorex Une connaissance pratique dans la méthodologie Agile et le TDD sont un véritable atout La connaissance du secteur du luxe et/ou du e-commerce Vous avez justifié de 4 à 6 ans d'expérience en test fonctionnel et vous avez une forte appétence pour l'automatisation, nous pouvons échanger ensemble ! Ce que vous nous offrons : Des formations tous les mois (DevOps, Design Thinking, Développement personnel…) La possibilité de monter en compétences avec des profils séniors, mentoring etc. L'accompagnement de toute la communauté QA de 5 Degrés (Afterwork, REX, etc...) Alors n’hésitez pas, postulez ! Type d'emploi : Temps plein, CDI Avantages : Participation au transport Titre-restaurant / Panier RTT Statut : Cadre Type d'emploi : Temps plein, CDI Salaire : 35 000,00€ à 55 000,00€ /mois Expérience: testeur qa h/f ou similaire: 3 ans (Souhaité) Formation: Bac +5 (Master / MBA) (Requis) Télétravail: Temporairement en raison du COVID-19 il y a 29 jours Signaler un abus

----------------------------------

Lyon (69) Temps plein, CDI Présentation de la Société Envie de rejoindre une startup en plein développement et à fort impact ? Ener-Pacte est un opérateur d’optimisation de gestion des centrales photovoltaïques, dédié aux installations non professionnelles. Nous proposons à nos clients, principalement agriculteurs, ayant investi dans des centrales photovoltaïques sur la toiture de leurs bâtiments, de maximiser les rendements de leurs installations afin de sécuriser leur rentabilité existante (installations de 100 kWc à 1MWc). La rémunération d’Ener-Pacte est uniquement liée au succès par rapport aux objectifs contractuels dans lesquels l’entreprise est par conséquent totalement engagée. Après 3 ans d’expérimentation, de beaux succès (+5M€ de rentabilité des centrales dans la durée) et une récente levée de fonds de 3M€ lui donnant les moyens de ses ambitions, Ener-Pacte consolide maintenant son équipe Innovation par le recrutement d’un DEVELOPPEUR BACK-END ET FRONT-END (H/F). Le Poste Ener-Pacte recherche un Développeur Full Stack, qui saura développer et maintenir les outils maitres de la société. Rattaché à la Direction Innovation, vous contribuez activement à la mise en œuvre de la stratégie R&D de la Société par le développement de nouvelles interfaces pour nos outils scientifiques et opérationnels destinés aux équipes de développement et de suivi de centrales photovoltaïques. Plus qu’un poste c’est une aventure qui s’offre à vous, dans laquelle votre envie de réinventer votre métier, d’entreprendre, votre engagement et votre proactivité démultiplieront le sens de votre mission ! Nous cherchons une personne qui souhaite vivre et construire la croissance d’une startup dotée des moyens de ses ambitions. Dans le cadre de vos missions, vous aurez également la responsabilité de piloter le travail avec des prestataires informatiques et des partenaires (notamment les équipes de développement de BCM Energy). Ener-Pacte est basée à Lyon, dans le quartier dynamique et ultra-connecté de Lyon Part-Dieu (à proximité directe de la gare SNCF et des réseaux de transport en commun). Des missions ponctuelles en France et à l’étranger seront nécessaires pour assurer la veille technique et scientifique ; et participer à la notoriété de l’entreprise. Profil · Développeur Full Stack · Compétences techniques : o Bases de données : mongoDB, MySQL o Front end : React.js, CSS3, PHP5 o Back-end : Node.js et TypeScript (en lien avec JavaScript), o Angular JS, Bootstrap, JQuery o Développement en mode agile (Scrum, Kanban,…) et Devops o Framework Serverless serait un plus · Maitrise de l’Anglais et du Français · Savoir être : Dynamique, autonome, bon relationnel Les + · Connaissances du segment du photovoltaïque est un plus Avantages : Participation au transport Type d'emploi : Temps plein, CDI Salaire : 35 000,00€ à 45 000,00€ /mois Expérience: developpeur back-end et front-end (full stack) h/f ou similaire: 1 an (Souhaité) il y a 29 jours Signaler un abus

----------------------------------

Paris (75) Temps plein, CDI UBLU c'est avant tout une Entreprise du Secteur Numérique d'un nouveau genre résolument tournée vers l'innovation. Spécialisés dans le domaine du conseil en transformation numérique, du développement logiciel, nous avons également développé une branche sur l'intégration de robot de services. Notre plus ? Un management participatif ou tout le monde s’exprime, mène des projets collaboratifs et développe son projet professionnel. Vous avez un projet social et responsable, nous vous permettons de le concrétiser. Vous partagez cette philosophie, venez rencontrer nos Ublusiens, ils vous parleront de leur métier et des projets. Votre mission : UBLU recherche un responsable technique expérimenté sur du langage JAVA J2EE. Venez intégrer notre équipe au sein de projets d’innovation : Vous pourrez être amené(e) à réaliser les tâches suivantes : Analyser les besoins clients Rédiger des cahiers des charges techniques Participer à la conception et l’architecture des solutions Spécifier les solutions techniques Participer activement au développement et à l’intégration des solutions Réaliser la phase de vérification & validation Assurer la qualité des livrables Effectuer des choix sur les solutions possibles Encadrer une petite équipe et effectuer des coachings techniques Assurer la relation client Et une mission transverse à l’entreprise afin de développer notre activité Développement Java où vous participerez à la définition de la stratégie, au recrutement, à la formation et aux réponses à appels d’offres. Profil recherché : Chez Ublu pas de profil ni de parcours type, on fait du sur-mesure. Vous avez envie de continuer à apprendre tout en partageant votre savoir, vous avez des compétences sur les technologies et environnements techniques Java EE, Hibernate, Spring (boot, batch, web, mvc, security...), Maven, JavaScript, Tomcat, AngularJS, NodeJS, GIT. Si vous êtes motivé(e) par le challenge d’une nouvelle entreprise, de nouveaux projets, nous attendons vos CV et lettre de motivation Niveau d’études : Bac+3 à Bac+5 Expérience : de 3 à 10 ans Langues : Anglais (lu écrit parlé dans un contexte professionnel) Localisation : Après un fantastique début d’aventure à Toulouse dans laquelle 25 Ublusiens ont déjà pris part, UBLU poursuit son histoire dans la Capitale ! Cette offre est donc à pourvoir à Paris et toute l’Ile-de-France. Type d'emploi : Temps plein, CDI Salaire : 35 000,00€ à 45 000,00€ /mois Il y a plus de 30 jours Signaler un abus

----------------------------------

Toulouse (31) Temps plein, CDI Agence Web basée au centre-ville de Toulouse, à taille humaine et à l'ambiance à la fois professionnelle et conviviale, nous développons des interfaces et applicatifs métiers orientés web ainsi que des sites institutionnels et e-commerce sur mesure. Notre démarche est de comprendre la vision et les problématiques des clients afin de leur fournir la réponse technologique la plus adaptée. Dans le cadre de notre croissance et afin de répondre toujours mieux aux besoins constants/récurrents de nos clients, nous recherchons actuellement des développeurs PHP / Symfony, avec idéalement et à minima une première expérience à un poste équivalent, pour intégrer notre équipe et participer à la création de nouveaux outils digitaux (immobilier, industrie, banque, formation…). Votre Rôle : Vous effectuez, en équipe ou en autonomie (selon le projet), la réalisation technique de plateformes web innovantes, les tests et le déploiement. Vous intervenez majoritairement en back, mais vous êtes à l'aise avec les technologies front HTML/CSS et JS, et la manipulation des bases de données type mySQL. Grâce à une bonne connaissance des langages de programmation, vous optimisez l’interface des sites et application Web, tout en respectant les impératifs liés à l’accessibilité, la compatibilité des navigateurs et les terminaux (desktop, mobile, tablette). Vous serez amené à participer à la rédaction des spécifications techniques, et à des tâches de conception et de modélisation ainsi qu’au chiffrage. Poste et missions : · Evaluation des spécificités techniques et fonctionnelles, · Conception et développement de nouvelles applications sous Symfony 3 et 4, · Ajout de nouvelles fonctionnalités, création de modules pour des applications existantes · Aptitude au débogage et à l’entretien d’applications web en production · Intégration / conception d’API · Création et administration de bases de données Profil recherché : · Fullstack avec forte affinité/spécialité pour le back · Expérience significative sur le framework Symfony 3 et 4 · Maîtrise des langages/technologies web (PHP, HTML, CSS et mySQL) · Vous êtes force de proposition et êtes à l’aise pour donner votre avis ou conseils · Vous aimez travailler en équipe mais aussi autonome · Vous êtes curieux, enthousiaste et créatif · Vous bénéficiez d’une première expérience professionnelle idéalement dans une ESN ou une agence Web, ou de solides projets personnels · Vous avez également une bonne culture du Web et du digital et entretenez une veille régulière sur les nouvelles technologies afin de consolider votre expérience Compétences requises : · PHP 5/7, MVC, POO, Symfony 3 et 4 · Git, Composer, Webpack Encore · MySQL / phpMyAdmin · HTML 5, CSS 3, Javascript · Console SSH, administration d’Apache2 Conditions : Poste en CDI Temps plein Rémunération selon profil (28-40K) sur 12 mois /35h Tickets restaurant Primes d’intéressement Plans d’épargne salariale Frais de transport en commun pris en charge à 50% Mutuelle avantageuse prise en charge à 50% Lieu de Travail : Toulouse (hyper centre) Avantages : Titre-restaurant / Panier Épargne salariale Participation au transport Type d'emploi : Temps plein, CDI Salaire : 28 000,00€ à 40 000,00€ /mois Expérience: développeur web php/symfony (h/f) ou similaire: 1 an (Souhaité) Il y a plus de 30 jours Signaler un abus

----------------------------------


In [112]:
datascientist = df[ (df['Poste'].str.lower().str.contains('data')) & (df['Poste'].str.lower().str.contains('scientist')) | (
        df['Poste'].str.lower().str.contains(str.lower('Machine Learning'))) | (
        df['Poste'].str.lower().str.contains(str.lower('Data science')))]

In [113]:
datascientist

,Poste,Métier,Pays,Ville,Entreprise,Contrat,Salaire,Description
0,Alternance - Data Scientist H/F,Data Scientist,France,Paris 9e (75),Malakoff Humanis,"Apprentissage, Contrat pro",NaN,"Paris 9e (75) Apprentissage, Contrat pro Contr..."
1,Senior Data Scientist H/F (75),Data Scientist,France,Paris (75),Rexel,NaN,NaN,Paris (75) Senior Data Scientist H/F (75) Expe...
2,Alternant(e) Data Scientist H/F,Data Scientist,France,Boulogne-Billancourt (92),TF1,NaN,NaN,"Boulogne-Billancourt (92) Apprentissage, Contr..."
3,ALTERNANT DATA SCIENTIST H/F,Data Scientist,France,Issy-les-Moulineaux (92),BNP Paribas,"Apprentissage, Contrat pro",NaN,"Issy-les-Moulineaux (92) Apprentissage, Contra..."
4,Data Scientist H/F,Data Scientist,France,La Défense (92),AGYLIS,"Temps plein, CDI",40 000 € - 50 000 € par an,"La Défense (92) Temps plein, CDI 40 000 € - 50..."
...,...,...,...,...,...,...,...,...
505,Associate Data Science Engineernew,Développeur Python,USA,"San Francisco, CA 94105 (Financial District area)",Gap Inc.,NaN,NaN,About Gap Inc. Our past is full of iconic mome...
507,Data Science Intern,Développeur Python,USA,"San Diego, CA 92121 (Sorrento Valley area)",SiO Digital,NaN,NaN,Responsibilities Work on high-visibility proje...
547,Data Scientist Entry Level - Pathrise Recruiti...,Développeur Python,USA,Remote,Pathrise,NaN,NaN,What is Pathrise Recruiting Partners? Pathris...
556,Data Scientist,Développeur Python,USA,"Sandpoint, ID 83864",Kochava,NaN,NaN,Kochava provides a unified platform with solut...
557,Data Scientist,Développeur Python,USA,Remote,Upland Software,NaN,NaN,Are you looking for an opportunity to accelera...

In [114]:
df['Doctor']

KeyError: 'Doctor'