In [2]:

import pandas as pd

In [66]:
jobs = ['Data scientist', 'Python', 'Javascript', 'Java',
        'Data scientist', 'Python', 'Javascript', 'Java']
countrys = ['France', 'France', 'France', 'France', 'USA', 'USA', 'USA', 'USA']


filenames = [str.lower(job).replace(' ', '') + str.lower(country) + '.csv' for job, country in zip(jobs, countrys)]
dfs = [pd.read_csv(filename, sep=';', encoding="utf-8-sig") for filename in filenames]

In [59]:
# # Ajouter une colonne indique le métier
# dfs[0]['Métier'] = 'Data Scientist'
# dfs[1]['Métier'] = 'Développeur Python'
# dfs[2]['Métier'] = 'Développeur JavaScript'
# dfs[3]['Métier'] = 'Développeur Java'
# dfs[4]['Métier'] = 'Data Scientist'
# dfs[5]['Métier'] = 'Développeur Python'
# dfs[6]['Métier'] = 'Développeur JavaScript'
# dfs[7]['Métier'] = 'Développeur Java'

# Créer le dataframe à partir de la concaténations de ces fichiers
df = pd.concat(dfs)
df = df[df.Description.isna() == False]

In [40]:
df.head()

,Poste,Métier,Pays,Ville,Entreprise,Contrat,Salaire,Description
0,Alternance - Data Scientist H/F,Data scientist,France,Paris 9e (75),Malakoff Humanis,"Apprentissage, Contrat pro",NaN,"Paris 9e (75) Apprentissage, Contrat pro Contr..."
1,Senior Data Scientist H/F (75),Data scientist,France,Paris (75),Rexel,NaN,NaN,Paris (75) Senior Data Scientist H/F (75) Expe...
2,Alternant(e) Data Scientist H/F,Data scientist,France,Boulogne-Billancourt (92),TF1,NaN,NaN,"Boulogne-Billancourt (92) Apprentissage, Contr..."
3,ALTERNANT DATA SCIENTIST H/F,Data scientist,France,Issy-les-Moulineaux (92),BNP Paribas,"Apprentissage, Contrat pro",NaN,"Issy-les-Moulineaux (92) Apprentissage, Contra..."
4,Data Scientist H/F,Data scientist,France,La Défense (92),AGYLIS,"Temps plein, CDI",40 000 € - 50 000 € par an,"La Défense (92) Temps plein, CDI 40 000 € - 50..."

In [13]:
df.shape

(7334, 8)

In [15]:
df['Salaire'].isna().sum()

6230

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7334 entries, 0 to 783
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Poste        7333 non-null   object
 1   Métier       7334 non-null   object
 2   Pays         7334 non-null   object
 3   Ville        7334 non-null   object
 4   Entreprise   7332 non-null   object
 5   Contrat      1018 non-null   object
 6   Salaire      1104 non-null   object
 7   Description  7334 non-null   object
dtypes: object(8)
memory usage: 515.7+ KB

In [31]:
df = df.drop_duplicates()

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6376 entries, 0 to 783
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Poste        6375 non-null   object
 1   Métier       6376 non-null   object
 2   Pays         6376 non-null   object
 3   Ville        6376 non-null   object
 4   Entreprise   6374 non-null   object
 5   Contrat      957 non-null    object
 6   Salaire      1008 non-null   object
 7   Description  6376 non-null   object
dtypes: object(8)
memory usage: 448.3+ KB

In [41]:
df['Contrat'].value_counts()

CDI                                                    436
Temps plein, CDI                                       228
Stage                                                   89
Apprentissage, Contrat pro                              60
Temps plein, Stage                                      46
Temps plein, Freelance / Indépendant                    38
Temps plein, CDD                                        22
Temps plein, Apprentissage                              13
Temps plein, Apprentissage, Contrat pro                 13
CDD                                                     10
Stage, Apprentissage, Contrat pro                        7
CDD, CDI                                                 7
Apprentissage                                            6
Intérim, Stage                                           5
Temps plein, Temps partiel, Stage                        4
Temps partiel                                            4
Freelance / Indépendant                                  3
Temps partiel, Stage                                     3
Intérim                                                  3
Temps plein, Contrat pro                                 3
Temps plein, Temps partiel, Freelance / Indépendant      2
Temps partiel, Apprentissage, Contrat pro                2
Temps plein, CDD, CDI                                    2
Temps plein, Temps partiel, CDD                          2
Stage, CDI                                               1
Freelance / Indépendant, CDI                             1
Temps plein, Freelance / Indépendant, CDI                1
Temps plein, CDI, Apprentissage, Contrat pro             1
Stage, Freelance / Indépendant                           1
Temps plein, Intérim                                     1
Temps plein, Stage, Apprentissage, Contrat pro           1
Temps plein, Stage, Apprentissage                        1
Temps plein, Temps partiel, Apprentissage                1
Stage, CDI, Apprentissage, Contrat pro                   1
Name: Contrat, dtype: int64

In [37]:
df['Salaire'].unique()

array([nan, '40 000 € - 50 000 € par an', '55 000 € - 65 000 € par an',
       '35 000 € - 50 000 € par an', '40 000 € - 55 000 € par an',
       '44 000 € - 51 000 € par an', '41 800 € - 65 000 € par an',
       '30 000 € - 60 000 € par an', '43 038 € - 52 602 € par an',
       '50 000 € - 55 000 € par an', '50 000 € par an',
       '40 000 € - 70 000 € par an', '3 029 € - 3 703 € par mois',
       '40 000 € - 45 000 € par an', '60 000 € - 70 000 € par an',
       '550 € par jour', '2 076 € - 2 184 € par mois', '490 € par jour',
       '35 000 € - 45 000 € par an', '32 000 € - 45 000 € par an',
       '45 000 € - 65 000 € par an', '45 000 € par an',
       '650 € - 700 € par jour', '600 € par mois', '70 000 € par an',
       '55 000 € par an', '60 000 € par an', '40 000 € - 60 000 € par an',
       '42 000 € - 45 000 € par an', '50 000 € - 70 000 € par an',
       '42 000 € par an', '45 000 € - 55 000 € par an',
       '2 000 € - 4 500 € par mois', '2 436 € - 2 821 € par mois',
       '70 000 € - 80 000 € par an', '42 000 € - 48 000 € par an',
       '40 000 € - 65 000 € par an', '48 000 € - 60 000 € par an',
       '900 € par mois', '38 € - 45 € par heure',
       '1 500 € - 1 700 € par mois', '50 000 € - 60 000 € par an',
       '2 202 € - 2 691 € par mois', '806 € par semaine',
       '45 000 € - 60 000 € par an', '60 000 € - 100 000 € par an',
       '65 000 € - 75 000 € par an', '55 000 € - 60 000 € par an',
       '120 000 € - 140 000 € par an', '58 000 € - 66 000 € par an',
       '36 000 € - 50 000 € par an', '40 000 € - 48 000 € par an',
       '60 000 € - 80 000 € par an', '45 000 € - 70 000 € par an',
       '58 000 € - 70 000 € par an', '75 000 € - 100 000 € par an',
       '65 000 € - 85 000 € par an', '55 000 € - 80 000 € par an',
       '70 000 € - 90 000 € par an', '50 000 € - 65 000 € par an',
       '40 000 € - 53 000 € par an', '42 000 € - 78 000 € par an',
       '36 000 € - 45 000 € par an', '60 000 € - 88 000 € par an',
       '70 000 € - 110 000 € par an', '45 000 € - 63 000 € par an',
       '65 000 € par an', '44 000 € - 57 000 € par an',
       '55 000 € - 70 000 € par an', '44 000 € - 70 000 € par an',
       '1 120 € par semaine', '2 500 € par mois', '450 € par jour',
       '1 500 € par mois', '1 000 € par mois', '350 € - 400 € par jour',
       '35 000 € - 55 000 € par an', '430 € par jour', '28 000 € par an',
       '36 000 € - 46 000 € par an', '1 500 € - 2 250 € par mois',
       '28 000 € - 40 000 € par an', '2 461 € - 2 835 € par mois',
       '33 000 € par an', '48 000 € - 52 000 € par an',
       '3 132 € - 3 828 € par mois', '37 000 € - 42 000 € par an',
       '38 000 € - 43 000 € par an', '4 000 € par mois',
       '3 000 € - 3 400 € par mois', '30 000 € - 34 000 € par an',
       '23 000 € - 25 000 € par an', '32 000 € - 40 000 € par an',
       '2 472 € - 2 847 € par mois', '2 300 € - 2 800 € par mois',
       '48 000 € par an', '1 850 € - 2 500 € par mois', '43 000 € par an',
       '35 000 € par an', '42 000 € - 46 000 € par an',
       '45 000 € - 75 000 € par an', '{0} €{2} par mois',
       '33 000 € - 34 000 € par an', '40 000 € par an',
       '100 000 € par an', '35 000 € - 42 000 € par an',
       '1 300 € par mois', '60 € par heure', '47 000 € par an',
       '45 000 € - 50 000 € par an', '33 000 € - 48 000 € par an',
       '30 000 € - 40 000 € par an', '2 000 € - 4 000 € par mois',
       '25 000 € - 40 000 € par an', '50 € par jour',
       '50 € - 70 € par heure', '2 400 € - 2 600 € par mois',
       '43 € par heure', '35 000 € - 40 000 € par an',
       '1 500 € par semaine', '47 000 € - 52 000 € par an',
       '2 100 € - 2 400 € par mois', '75 000 € par an',
       '42 000 € - 50 000 € par an', '30 000 € - 31 000 € par an',
       '38 000 € - 45 000 € par an', '38 000 € - 40 000 € par an',
       '340 € par jour', '38 000 € - 50 000 € par an',
       '500 € par semaine', '2 088 € - 2 206 € par mois',
       '28 000 € - 38 000 € par an', '52 000 € par an',
       '20 000 € - 30 000 € par an', '2 500 € - 2 900 € par mois',
       '2 088 € - 2 350 € par mois', '30 000 € - 45 000 € par an',
       '43 000 € - 48 000 € par an', '37 000 € - 39 000 € par an',
       '34 000 € - 38 000 € par an', '400 € par jour',
       '800 € - 1 200 € par mois', '600 € - 1 000 € par mois',
       '390 € par jour', '500 € - 600 € par jour',
       '700 € - 950 € par mois', '3 200 € par mois',
       '500 € - 1 200 € par mois', '2 500 € - 3 000 € par mois',
       '2 470 € - 3 100 € par mois', '2 300 € - 3 400 € par mois',
       '40 000 € - 42 000 € par an', '900 € - 1 100 € par mois',
       '1 321 € par mois', '42 000 € - 49 000 € par an',
       '800 € - 1 000 € par mois', '2 300 € par mois', '800 € par mois',
       '2 200 € - 2 400 € par mois', '25 000 € - 35 000 € par an',
       '32 000 € - 34 000 € par an', '2 565 € - 3 135 € par mois',
       '1 939 € - 3 041 € par mois', '610 € par mois', '37 000 € par an',
       '25 000 € - 30 000 € par an', '662 € - 1 539 € par mois',
       '350 € par jour', '2 500 € - 3 500 € par mois',
       '40 € - 60 € par heure', '2 599 € - 3 176 € par mois',
       '700 € - 900 € par mois', '22 000 € - 28 000 € par an',
       '23 000 € - 35 000 € par an', '1 900 € par mois',
       '2 800 € - 4 000 € par mois', '46 000 € par an', '420 € par jour',
       '575 € - 1 500 € par mois', '150 € par an',
       '28 000 € - 32 000 € par an', '36 000 € - 42 000 € par an',
       '165 € par jour', '28 000 € - 34 000 € par an',
       '40 000 € - 44 000 € par an', '31 000 € - 40 000 € par an',
       '1 800 € - 2 500 € par mois', '3 500 € - 3 750 € par mois',
       '41 000 € par an', '18 473 € par an', '38 000 € par an',
       '700 € par mois', '44 000 € - 48 000 € par an',
       '30 000 € - 33 000 € par an', '400 € par semaine',
       '600 € - 1 500 € par mois', '400 € - 500 € par jour',
       '30 000 € - 35 000 € par an', '33 000 € - 35 000 € par an',
       '60 000 € - 75 000 € par an', '35 000 € - 65 000 € par an',
       '2 139 € par mois', '2 700 € - 3 500 € par mois',
       '30 000 € par an', '38 000 € - 55 000 € par an', '45 € par heure',
       '55 € par heure', '39 176 € - 56 339 € par an',
       '58 000 € - 68 000 € par an', '1 000 € - 1 600 € par mois',
       '48 000 € - 58 000 € par an', '45 000 € - 80 000 € par an',
       '555 € - 1 200 € par mois', '2 273 € - 2 779 € par mois',
       '350 € - 450 € par jour', '32 000 € par an',
       '52 000 € - 58 000 € par an', '2 570 € par mois',
       '40 000 € - 47 000 € par an', '42 000 € - 52 000 € par an',
       '1 800 € par mois', '40 529 € - 49 536 € par an',
       '27 000 € - 35 000 € par an', '29 000 € - 35 000 € par an',
       '450 € - 550 € par jour', '1 700 € - 1 900 € par mois',
       '30 000 € - 55 000 € par an', '500 € par jour',
       '34 000 € - 40 000 € par an', '2 595 € - 3 171 € par mois',
       '24 000 € - 28 000 € par an', '36 000 € - 48 000 € par an',
       '19 000 € - 35 000 € par an', '400 € - 450 € par jour',
       '39 000 € par an', '43 200 € par an', '1 500 € - 1 650 € par mois',
       '35 000 € - 43 000 € par an', '33 000 € - 55 000 € par an',
       '4 000 € - 6 000 € par mois', '44 000 € par an',
       '38 000 € - 42 000 € par an', '33 000 € - 38 000 € par an',
       '32 € - 45 € par heure', '440 € par jour',
       '37 000 € - 50 000 € par an', '600 € par jour',
       '500 € - 540 € par jour', '3 736 € par mois', '450 € par semaine',
       '500 € - 550 € par jour', '29 002 € par an',
       '39 000 € - 48 000 € par an', '480 € - 500 € par jour',
       '68 000 € par an', '35 € - 42 € par heure', '36 000 € par an',
       '2 641 € - 3 228 € par mois', '48 000 € - 65 000 € par an',
       '39 000 € - 47 000 € par an', '14 769 € par an',
       '380 € par semaine', '30 000 € - 36 000 € par an',
       '2 206 € - 2 281 € par mois', '2 000 € par mois',
       '90 000 € par an', '21 000 € - 35 000 € par an',
       '45 € - 50 € par heure', '38 000 € - 64 000 € par an',
       '35 000 € - 39 000 € par an', '40 € - 45 € par heure',
       '26 000 € - 35 000 € par an', '33 000 € - 44 000 € par an',
       '2 500 € - 3 200 € par mois', '520 € par jour',
       '38 000 € - 62 000 € par an', '42 € - 50 € par heure',
       '32 065 € - 49 091 € par an', '2 000 € - 2 500 € par mois',
       '320 € par jour', '450 € - 500 € par jour', '380 € par jour',
       '26 000 € - 34 000 € par an', '19 077 € - 49 543 € par an',
       '$20.98 an hour', '$85,000 a year', '$95,400 - $121,800 a year',
       '$75,900 - $130,049 a year', '$120,000 - $150,000 a year',
       '$200,000 - $350,000 a year', '$68,450 - $138,150 a year',
       '$75,200 a year', '$1,000 a month', '$29.57 an hour',
       '$18 an hour', '$60,000 - $80,000 a year',
       '$60,000 - $62,500 a year', '$26.00 - $35.10 an hour',
       '$38,000 - $46,000 a year', '$101,000 a year', 'From $30 an hour',
       '$67,968 - $126,062 a year', '$75,000 - $135,000 a year',
       '$50,000 a year', '$65,000 - $85,000 a year',
       '$70,181 - $109,358 a year', '$65,000 - $80,000 a year',
       '$47,986 - $61,194 a year', '$4,000 a week', '$70 an hour',
       '$65,000 - $100,000 a year', '$16 - $18 an hour',
       '$45,000 - $50,000 a year', '$52,216 - $55,407 a year',
       '$60,782 - $82,051 a year', '$75,000 a year',
       '$105,421 - $121,234 a year', '$125,000 - $240,000 a year',
       '$89,700 - $148,800 a year', '$80,000 - $100,000 a year',
       '$20 an hour', '$56,000 a year', '$20 - $24 an hour',
       '$100,000 a year', '$12 - $15 an hour', 'Up to $12 an hour',
       '$47,600 - $79,699 a year', '$31,600 - $58,400 a year',
       '$56,250 - $93,750 a year', '$59,280 - $81,435 a year',
       '$107,518 a year', '$83,692 - $111,469 a year', '$75,278 a year',
       '$65 an hour', '$85,000 - $120,000 a year',
       '$75,000 - $150,000 a year', '$84,219 a year',
       '$170,000 - $190,000 a year', '$150,000 - $180,000 a year',
       '$65,000 a year', '$50,000 - $80,000 a year',
       '$115,000 - $140,000 a year', '$100,000 - $150,000 a year',
       '$85 an hour', '$54,612 a year', '$70,000 - $100,000 a year',
       '$16.00 - $19.91 an hour', '$81,536 a year', '$60 an hour',
       '$52,272 - $85,848 a year', '$95,000 - $115,000 a year',
       '$8,000 - $12,000 a month', '$95,000 a year',
       '$110,000 - $145,000 a year', '$121,658 a year',
       '$45.14 - $73.42 an hour', '$130,000 a year',
       '$6,000 - $9,500 a month', '$4,000 - $5,100 a month',
       '$110,000 - $160,000 a year', '$30 - $45 an hour',
       '$50,000 - $90,000 a year', '$65,000 - $110,000 a year',
       '$12 an hour', '$25 an hour', '$21.24 - $33.24 an hour',
       '$150,000 - $200,000 a year', '$109,508 - $144,303 a year',
       '$46.04 - $74.89 an hour', '$81,000 - $114,000 a year',
       '$110,000 a year', '$2,500 - $3,250 a month',
       'Up to $165,000 a year', 'Up to $60 an hour', '$115,000 a year',
       'From $50,000 a year', '$41,000 - $75,000 a year',
       '$10 - $12 an hour', '$65,000 - $90,000 a year', '$11.50 an hour',
       '$46,845 - $153,653 a year', '$40 - $60 an hour', '$88 an hour',
       '$90,000 - $120,000 a year', '$22 an hour', '$38 an hour',
       '$54.75 an hour', '$15 an hour', '$70,000 a year', '$54 an hour',
       '$50 an hour', '$70,000 - $120,000 a year',
       '$133,141 - $156,500 a year', '$4,599 - $6,834 a month',
       '$90,000 - $150,000 a year', '$95,000 - $170,000 a year',
       '$97,700 - $125,400 a year', '$162,000 a year',
       '$60,000 - $110,000 a year', '$28 - $34 an hour',
       '$80 - $90 an hour', '$110,000 - $130,000 a year',
       '$57,000 a year', '$6,150 a month'], dtype=object)

In [63]:
import re
def searchBy(x, pattern):
    match = re.search(pattern, str.lower(x))
    if match:
        return match.group(0)
salaryMatch = re.compile(r'((([\$€]\s?\d+([\.,\s]?\d{3})*[\s]?k?([\.,\s]\d{2})?([\s]?((à)|(au)|(et)|(\/)|(->?)|(to)|(and))?[\s]?[\$€]?[\s]?\d{1,3}([\.,\s]?\d{3})*\s?k?([\.,\s]?\d{2})?)?)|((\d+([\.,\s]?\d{3})*\s?k?([\.,\s]\d{2})?\s?[\$€]?([\s]?((à)|(au)|(et)|(and)|(\/)|(->?)|(to))?[\s]?\d{1,3}([\.,\s]?\d{3})*\s?k?([\.,\s]\d{2})?)?)[€\$])[\s]?)(\s*(brut)?\s*((par)|(a)|(an)|(per)|(by)|(\/)|(every)|(un)|(une))[\s]*((annually)|(heure)|(jour)|(hebdomadaire)|(mois)|(mensuel)|(hour)|(day)|(month)|(year)|(an))))')

df['SalaryExtract'] = df['Description'].apply(
    lambda x: searchBy(x, salaryMatch))

In [64]:
df['Salaire'].update(df['SalaryExtract'])

In [50]:
df['Salaire'].isna().sum()

6155

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6376 entries, 0 to 783
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poste          6375 non-null   object
 1   Métier         6376 non-null   object
 2   Pays           6376 non-null   object
 3   Ville          6376 non-null   object
 4   Entreprise     6374 non-null   object
 5   Contrat        957 non-null    object
 6   Salaire        1068 non-null   object
 7   Description    6376 non-null   object
 8   SalaryExtract  632 non-null    object
dtypes: object(9)
memory usage: 498.1+ KB

In [61]:
df = df.drop_duplicates()
df.shape

(6376, 8)

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6376 entries, 0 to 783
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Poste        6375 non-null   object
 1   Métier       6376 non-null   object
 2   Pays         6376 non-null   object
 3   Ville        6376 non-null   object
 4   Entreprise   6374 non-null   object
 5   Contrat      957 non-null    object
 6   Salaire      1008 non-null   object
 7   Description  6376 non-null   object
dtypes: object(8)
memory usage: 448.3+ KB

In [8]:
test = pd.DataFrame({'Métier':'Développeur Python', 'Pays': 'France', 'Study required': 'Guaduate', 'Experience required': 'Confirmed'}, index=[0])

In [24]:
test = {'Confirmed':0, 'Data Scientist':0, 'Doctor':0, 'Développeur Java':0,
                                 'Développeur JavaScript':0, 'Développeur Python':0, 'Entry':0, 'Expert':0,
                                 'France':0, 'Guaduate':0, 'High School':0, 'Intermediate':0, 'Master':0,
                                 'Senior':0, 'USA':0, 'Unnamed: 15':0, 'Python':0, 'R':0, 'Matlab':0,
                                 'Kubernetes':0, 'Bash':0, 'Fortran':0, 'Ruby':0, 'Golang':0, 'C':0, 'Java':0,
                                 'JEE':0, 'JSP':0, 'J2ME':0, 'BREW':0, 'MVC':0, 'SASS':0, 'XML':0, 'Eclipse':0,
                                 'Spring':0, 'Atlassian':0, 'Jenkin':0, 'FIX':0, 'Nexus':0, 'Maven':0,
                                 'Flutter':0, 'Bootstrap':0, 'Kafka':0, 'Data software':0, 'Data analysis':0,
                                 'Data preprocessing':0, 'Report':0, 'Math':0, 'Development':0,
                                 'Integration':0, 'ReactNative':0, 'Dataiku':0, 'Data viz':0, 'Data skills':0,
                                 'Data pipeline':0, 'Git':0, 'SQL':0, 'Djanbo':0, 'Database':0, 'Javascrpit':0,
                                 'POO':0, 'Regex':0, 'Mobile Programming':0, 'Team Work':0,
                                 'Machine Learning':0, 'Web langage':0, 'System unix':0, 'Scratch':0,
                                 'Scala':0, 'API':0, 'RestAPI':0, '.Net':0, 'Visual Studio':0, 'Responsive':0,
                                 'Javascript Skills':0, 'Outil bureautique':0, 'Deep Learning':0,
                                 'Text analytics':0, 'Marketing':0, 'Finance':0, 'Communication':0,
                                 'Statistics':0, 'Cloud':0, 'Big data':0, 'Computer science':0, 'Flask':0,
                                 'Streamlit':0, 'Docker':0, 'Saas':0, 'Back-end':0, 'Front-end':0, 'Design':0,
                                 'SAS':0, 'Business intelligence':0, 'Statistic':0, 'Redis':0,
                                 'Web Scrapping':0, 'Server':0, 'Blockchain':0, 'English':0, 'French':0,
                                 'Postman':0, 'Websphere':0, 'Conception':0, 'Documentation':0, 'Teach':0,
                                 'Debug':0, 'Test':0, 'Redux':0, 'JQuery':0, 'Maintenance':0, 'Microservices':0}

In [13]:
mm ='Python'
test[mm] = 1
test['Python']

1

In [28]:
int_features = [int(x) for x in list(test.values())]
final_features = [np.array(int_features)]
print(final_features)
print(len(int_features))

[array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0])]
112